.properties-slider {
	position:relative;
	.owl-prev, .owl-next {
		position: absolute;
		top:50%;
		font-family: 'iconic';
		font-size: 40px !important;
		opacity: 1 !important;
		background:none !important;
	}
	.owl-prev {
		left:0;
		&:before {
			content:$iconic-angle-left;
		}		
	}
	.owl-next {
		right:0;
		&:before {
		content:$iconic-angle-right;
	}
	}
	
	.owl-controls {
		margin-top: 0;
	}
	.item {
		display:none;
	}
	.owl-item {
		.item {
			display:block;
		}
	}
}

