
.Debuggersidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    background-color: #222d32;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    display: none;


}
.mainConsole{
    color:#fff;
}
.Debuggersidenav a {

    text-decoration: none;
    font-size: 18px;
    color: #818181;
    transition: 0.3s;
    margin-left: 10%;

}


.Debuggersidenav a:hover {
    color: #f1f1f1;
}

.Debuggersidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    margin-left: 1%;
    color:red;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .Debuggersidenav {padding-top: 15px;}
    .Debuggersidenav a {font-size: 18px;}
}