/*
Agents
 */
// Agents
.agents {
	.agent {
		@include make-xs-column(4);
		@include make-sm-column(3);
		@include make-md-column(2);
		@include make-lg-column(2);
		text-align: center;
		margin-bottom: 30px;
		&:hover {
		 .iconic {
			margin-right: 10px; 
		}
	}
	}
	.data {
		background:#fff;
		padding:4px;
	}
	a {
		display:block;
		color:$gray-dark;
		text-align: left;
		&:hover {
			color:lighten($gray-dark,30%);
		}
	}
	.iconic {
		float:right;
		transition: all 0.8s ease-out;
	}
	.meta {
		padding:20px 10px;
	}	
	
}

@include respond-to('xm') {
	.agents {
		.agent {
			width:50%;
		}
	}
}

.agents {
	&.owl-carousel {		
		.agent {
		width:100%;		
		}
	}
}
