/*
Agent Details
*/
.content-panel {
  margin-top: 30px;
  float: left;
  width: 100%;
  padding: 15px;
  background: #fff;
  .image-block {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 25px;
  }
}

.content-panel-heading {
  font-size: 20px;
  font-family: $fontstack2;
  color: $gray-dark;
  margin-top: 0;
  text-transform: uppercase;
}

.project-list {
  margin-left: -4px;
  margin-right: -4px;
  .project {
    @include make-xs-column(6);
    @include make-sm-column(3);
    @include respond-to("xm") {
      width: 100%;
    }

    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .data {
    position: relative;
    background: $gray-dark;
    overflow: hidden;
    img {
        transition: all 0.8s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .meta-list3 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
    font-family: $fontstack2;
    span {
      padding: 5px;
    }
  }
  .title, .status {
    display: block;
    float: left;
  }
  .title {
    background: $color-primary;
    color: $color-alt1;
  }
  .status {
    background: darken($color-primary, 20%);
    color: #fff;
    text-transform: uppercase;
    &.sold {
      background: $color-alt1;
    }
  }
}

@include respond-to("sm") {
  .content-panel {
    .image-block {
      width: auto;
      margin-right: 30px;
    }
    padding-right: 30px;
  }
}


@include respond-to("md") {
  .content-panel {
    .image-block {
      margin-right: 60px;
    }
    padding: 30px;
    padding-right: 60px;
  }
  .project-list {
    .meta-list3 {
      span {
        padding: 10px;
      }
    }
  }
}