/*
Agent Grids
*/

// Agents Grid View 
.agents-grid-view {
	.agent {
		@include make-xs-column(6);
		@include make-sm-column(3);
		@include respond-to('xm') {
			width:100%;
		}
		margin-top: 30px;		
	}
	img {
		display:block;
		margin:0 auto;
		width:100%;
	}
	.data {
		background:#fff;
	}
	.meta {
		padding:15px;
		font-family: $fontstack2;
		font-size: 13px;
	}
	h2 {
		font-size: 15px;
		font-family: $fontstack2;
		color:$gray-dark;
	}
	a {
		color:$gray-dark;
		&:hover {
			color:lighten($gray-dark,15%);
		}
	}
	.iconic {
		font-size: 18px;
	}
}