/*
Animation Effects
 */
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp2 {
  animation-name: fadeInUp2;
}

@include respond-to('md') {
	
		.header-home {
			overflow: hidden;
		}
	
}
@include respond-to('md') {
	.wow {
		visibility: hidden;
	}
}