/*
Blog
 */

//
.articles-masonory, .articles-row {
  @include make-row;
  figure {
    background: #ccc no-repeat;
    background-size: cover;
    img {
      visibility: hidden;
    }
  }
  article {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include respond-to("xm") {
      width: 100%;
    }

    margin-bottom: 30px;
  }
  .data {
    background: $content-back;
    padding: 15px;
    width: 100%;
    float: left;
  }
  h2 {
    font-family: $fontstack2;
    color: $gray-dark;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6;
    padding-left: 35px;
    position: relative;
    .iconic {
      position: absolute;
      left: 0;
      top: -5px;
      color: $color-primary;
      font-size: 25px;
    }
    a {
    color: $gray-dark;
    &:hover {
      color: lighten($gray-dark, 10%);
    }
  }
  }
  
}

// Blog Details
.blog-article {
  @include row;
}

.article-title {
  @include row;
  background: $content-back;
  padding: 15px;
}

.article-meta {
  @include row;
  background: $content-back;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px;
  span {
    font-family: $fontstack2;
    font-size: 12px;
  }
  .meta-list {
    span {
      margin-right: 10px;
    }
    span:before {
      margin-right: 5px;
      color: $gray-light;
      font-size: 13px;
    }
  }
  color: $gray-dark;
  a {
    color: $gray-dark;
    &:hover {
      color: $gray-light;
    }
  }
}

.article-content {
  @include row;
  background: $content-back;
  padding: 15px;
}

.share-article {
  @include row;
  background: $content-back;
  .info {
    display: block;
    padding-bottom: 10px;
  }
  a {
    display: inline-block;
    border: 1px solid $gray-dark;
    width: 26px;
    line-height: 24px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    color:$gray-light;
    &:hover {
      color:$gray;
    }
  }
  @include respond-to("xs") {
    .info {
      display: inline;
      padding-right: 10px;
    }
  }
}

.articles-row {
  article {
    width:100%;
  }
  h2 {
    font-size: 20px;
  }
}