/*-------------------   STYLE CHANGER -------------------------------------- */
#stlChanger {
  display: none;
}
@media screen and (min-width:991px) {
  #stlChanger {
    color: #cecece;
    font-size: 14px;
    overflow: hidden;
    position: fixed;
    top: 80px;
    right: -250px;
    z-index: 100;
    display: block;
  }
  #stlChanger .siteChanger, #stlChanger .bgChanger, #stlChanger .buts {
    position: relative;
    overflow: hidden;
  }
  #stlChanger .siteChanger, #stlChanger .bgChanger {
    min-width: 220px;
    min-height: 220px;
  }
  #stlChanger a {
    color: #fff;
    text-decoration: none;
  }
  #stlChanger a:hover {
    text-decoration: none;
  }
  #stlChanger .blockChanger {
    width: 290px;
  }
  #stlChanger .chBody {
    background: rgba(255, 255, 255, 0.5);
    width: 250px;
    position: relative;
    overflow: hidden;
    border: 1px solid #aaa;   
    margin-left: 40px;
  }
  #stlChanger .chBut {
    background: #444;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 10;
    text-align: center;    
  }
  #stlChanger .chBut i {
    color: #fff;
    font-size: 28px;
    margin: 6px;
    line-height: 40px;
  }
  #stlChanger .stBlock {
    position: relative;
    overflow: hidden;
    margin: 0px 35px 22px;
  }
  #stlChanger .stBlock p {
    color: #444;
    font-size: 14px;    
  }
  #stlChanger h4 {
    color: #444;
    font-size: 18px;
    background: #444;
    font-weight: 900;
    line-height: 22px;
    display: block;
    margin-top: 0;
    padding: 8px 10px 9px;
  }
  #stlChanger .stBgs a {
    text-decoration: none;
    display: block;
    background-color: #000;
    width: 40px;
    height: 45px;
    float: left;
    padding: 0;
    margin: 3px 3px 0 0;
    cursor: pointer;
    opacity: 1;
    border:1px solid #bbb;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #stlChanger .stBgs img {
    max-width: 100%;
  }
  #stlChanger .stBgs a:hover {
    opacity: 0.7;
  }
  #stlChanger a.dark-style {
    display: inline-block;
    padding: 6px 16px;
    text-align: center;
    background: none repeat scroll 0% 0% #4b4c4d;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
  }
  #stlChanger a.dark-style:hover {
    background: #ab2210;
    color: #fff;
  }
  #stlChanger .btn-theme {
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
    padding: 6px 10px;
    background-color: #d63240;
  }
  #stlChanger .stBlock {
    margin: 25px 13px 20px 18px;
  }
  #stlChanger .stBgs {
    margin: 15px 0 20px;
  }
  .overlay.show-overlay {
    z-index: 99999;
  }
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -999;
  }
  #stlChanger a.get-css {
    float: right;
    padding: 6px 20px;
    color: black;
    background-color: #fff;   
    border: 1px solid black;
  }
}

/* ------------------ modal get css -------------------*/
@media screen and (min-width:991px) {
  .ovrlay-getcss {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999999;
    transition: all 0.5s ease-in-out;
  }
  .ovrlay-getcss .modal {
    position: absolute;
    height: 90%;
    width: 50%;
    display: none;
    padding: 50px 80px;
    border-radius: 5px;
    top: 30px;
    left: 50%;
    margin-left: -25%;
    background-color: #E1E1E1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .ovrlay-getcss .modal i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    background-color: #fff;
    border-radius: 50%;
    height: 33px;
  }
  .ovrlay-getcss .modal h3 {
    color: #878787;
  }
 
    .ovrlay-getcss .modal #css_content {
      height: 80%;
    }
    .ovrlay-getcss .modal #css_content textarea {
      width: 100%;
      height: 100%;
    }
    .ovrlay-getcss .modal .clip-btn {
      text-transform: uppercase;
      border-radius: 5px;
      border: 1px solid grey;
      padding: 10px;
      float: right;
      font-weight: bold;
      text-decoration: none;
      color: white;
    }
    .ovrlay-getcss .modal .clip-btn:hover {
      color: #ef526d;
    }
    .ovrlay-getcss .show-modal {
      display: inline-block;
    }
    .ovrlay-open-getcss {
      width: 100%;
  }
 }