/*
Commons
 */
.info-box-1 {
	margin-top: 25px;
	h5 {
		font-size: 15px;		
		position:relative;
		span {
			background:#fff; 
			padding-right: 10px;
		}
		&:after {
			content:'';
			display:block;
			width:100%;
			height:1px;
			background:#ccc;
			z-index: -1;
			margin-top: -8px;
		}
	}
	p {
		font-size: 15px;
		color:#918c8c;
		margin-top: 30px;
	}
	.large-text-1 {
		font-size: 30px;
		color:#433636;
	}
}

// extend forms
.form-group-1 {
	margin-bottom: 15px;
	@include respond-to('md') {
		margin-bottom: 25px;
	}
}

// Image Box 
.image-box {
	background:#ddd;
	img {
		display:block;
		margin:0 auto;
	}
}
// page Scroll
.PagescrollToTop {
background:$color-primary;
display:none;
width:40px;
height:40px;
position:fixed;
text-align: center;
bottom:20px;
right:15px;
line-height: 30px;
font-size: 35px;
line-height:40px;
color:$text-color;
&.active {
	display:block;
}
@include respond-to('md') {
	bottom:10%;
}
}
