/*
Comments
 */
// Commnets
.comments-area {
  @include row;
  margin: 30px 0;
  background: $content-back;
  padding: 15px;
}

.comment-list {
  padding: 0;
  margin: 0;
  list-style: none;
  blockquote {
    padding: 10px 0 0;
    border: 0px;
    font-size: 13px;
  }
  li {
    padding: 35px  0 0;
    position: relative;
  } 
  .comment-first {
    padding-top: 0;
  }
  article {
    padding: 0px 0 35px;
    position: relative;
    border-bottom: 1px solid $gray-lighter;
  }
  .comment-reply-link {
    color: $text-color;
    &:hover {
      color: lighten($text-color, 15%);
    }
  }
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  } 
}
 .depth-2 article {
	padding-left: 20px;
	}

.comment-meta {
  .avatar {
    margin-right: 20px;
    float: left;
  }
  cite {
    display: block;
    font-style: normal;
  }
  a {
    color: $text-color;
    &:hover {
      color: lighten($text-color, 15%);
    }
  }
}


@include respond-to("xs") {
  .comment-list {
    article {
      padding: 0 65px 15px  90px;
      position: relative;
      border-bottom: 0;
    }
  }
  .comment-meta {
    .avatar {
      position: absolute;
      left: 0;
      top: 0px;
    }
  }
  .depth-2 {
    article {
      padding-left: 180px;
    }
    .avatar {
      left: 90px;
    }
  }
  .reply {
    position: absolute;
    right: 0;
    top: 35px;
  }
  
  .line-vr {
    z-index: 1;
    &:before {
      content: "";
      display: block;
      height: 100%;
      top: 0;
      width: 1px;
      background: $gray-light;
      position: absolute;
      left: 30px;
    }
  }
  .line-hr {
    z-index: 1;
    &:after {
      @extend .line-vr:before;
      width: 60px;
      height: 1px;
      top: 60px;
    }
  }
  .line-vr-this {
    z-index: 2;
    article {
      background: #fff;
    }
    &:before {
      @extend .line-vr:before;
      height: 60px;
      z-index: 1;
    }
    &:after {
      @extend .line-vr:before;
      width: 60px;
      height: 1px;
      top: 60px;
    }
  }
}

.comment-respond {
	  @include row;
	  margin-bottom: 30px;
	  padding:15px;
	  background:$content-back;
}