/*
Content Section
 */
// content section
.content-section {
	padding-top:$section-v-space/2;
	padding-bottom:$section-v-space/2;
	background:$section-back;
	&.background {
		background: $content-back;
	}
	.background {
		background:#fff;
		display:block;
		overflow:hidden;
		padding:15px;
	}
	.content-back {
		background:#fff;
		position: relative;
	}
	.link-arrow {
		width:44px;		
		display:block;
		float: right;
		text-align: center;
		background:darken($gray-lighter,5%);
		line-height: 36px;
		font-size: 20px;
		position:absolute;
		right:0;
		bottom:0;		
		color:$gray-light;
		&:hover {
			color:$gray-dark;
		}
	}
	.grid-gap-large {
		padding-left: 15px;
		padding-right: 15px;
		@include respond-to('md') {
		padding-left: 60px;
		padding-right: 60px;
		}
	}

}
.content-table {
		.content-table-image  {
			padding-left: 0;
			padding-right: 0;
			background :#e1dede;
			img {
				display:block;
				margin: 0 auto;
				width:100%;
			}
		}
}
// content box
.content-box {
	padding-top:$section-v-space/3;
	padding-bottom:$section-v-space/3;
	@include make-row();
	.content-info {
		font-size: 13px;
		text-transform: uppercase;
		line-height: 20px;
		text-transform: uppercase;
		font-family: $fontstack3;
		.iconic:before {
			font-size: 25px;
			color:$gray-dark;
			float:left;
			margin-right: 5px;
			
		}		
	}
}
// content box2
.content-box-2 {
	padding:15px;
	background:$content-back;
	@include row();
	@include respond-to('md') {
		padding:25px;
	}
}


// Meta List

.meta-list2 {
	font-size: 12px;
	color:#a9a9a9;
	.iconic {
		margin-right: 5px;
	}
	.iconic-heart {
			color:#de3326;
		}
	.iconic-mode-comment {
		color:$gray-dark;
	}
	.meta {
		margin-right: 30px;
	}
}
.layout-flex {
	@include respond-to('md') {
		display:flex;
		> div {
			display:flex;
		}
	}	
}

