/*
Footer
 */
.main-footer {
	background:$footer;
	padding : $footer-v-space 0;
	color:$footer-text;
	position:relative;
	z-index: 12;
	background-image: url(images/footer/background-1.jpg);
	background-size: cover;

	.widget {
	padding-top: 30px;
	float:left;
	width:100%;
	&:first-child {
		padding-top: 0;
		}

		ul {
			margin:0;
			padding:0;
			list-style: none;
		}
		li {
			padding:5px 0;
			border-top: 1px solid #584846;
		}
		a {

			color:$footer-text;
			&:hover {
				color:lighten($footer-text,10%);
			}
		}
	}
	.widget h5 {
		margin-top:0;
		font-size: 18px;
		color:$footer-text;
		font-weight: 700;
		text-transform: uppercase;
	}
	.widget-content {
		padding-top: 15px;	
	}

}
.logo-footer {
	max-width: 100px;
	border:solid $color-primary;
	border-width: 5px;
}
.footer-widgets-1{
	p {margin-top: 25px;}
	@include make-sm-column(6);	
	@include make-md-column(3);
}

.logo-footer-row {
	float:left;
	.logo-footer, .logo-tag {float:left;}
	.logo-tag {
		margin-left: 15px;
	}
}

// footer mid
.footer-widgets-2 {
@include make-md-column-push(1);
@include make-md-column(4);
	ul {		
		margin:0;
		padding:0;
		list-style: none;
	}
	li {
		margin:20px 0 0;
		padding:0 0 0 90px;
		position:relative;
		font-size: 10px;
		width:100%;
		float:left;
		&:first-child {
			margin-top:0;
		}
	}
	img {
		float:left;
		margin-right: 14px;
		border:1px solid $footer-text;
		position:absolute;
		left:0;
		top:5px;
	}
	a {
		color:$footer-text;
		&:hover {
			color:lighten($footer-text,10%);
		}
	}
	.description,.price {
		display:block;
	}
	.price {
		color:lighten($footer-text,30%);
	}
}
@media (max-width: $screen-md) {
	.footer-widgets-2 {
		display:none;
	}
}

// footer last
.footer-widgets-3 {	
	@include make-sm-column(6);
	@include make-md-column(3);
	@include make-md-column-push(2);
}

.main-footer {
	.form-control {
		background:none;
		border:1px solid $footer-form-control;
		color:lighten($footer-text,20%);
		font-size: 11px;		
		@include form-control-focus($footer-form-control);
	}
	.btn-ghost {
		@include button-variant($footer-text,transparent,$footer-form-control);
	}
}
.newsletter-form {
	.btn {
		pointer-events:auto;
		border:0px;
		&:before {
			background:none;
		}
	}
}

.footer-sub {
	background:#291f1f;
	padding:18px 0;
	position:relative;
	z-index: 12;
	.footer-text-1,
	.footer-text-2 {
		@include make-xs-column(6);
	}
	p {
	font-size: 11px;
	color:$footer-text;
	margin:0;
	text-transform: uppercase;
	}	
	a {
		color:$footer-text;
		&:hover {
			color:lighten($footer-text,10%);
		}
	}	
}

@include respond-to('xm') {
	.footer-sub {
	.footer-text-1,
	.footer-text-2 {
		width:100%;
		text-align: center;
		p {margin:2px 0;}
	}
	}
}