/*
header 
 */ 

.header-home {
	.container {
		height:100%;
		//position:relative;
	}
}
img.banner-img  {visibility: hidden;}
.header-home {
	background: center top;
	background-size: cover;	
	position: relative;
	min-height: 500px;
}
.header-common {
position:relative;
min-height: 250px;
background-size: cover;
}
.header-content {
	position:absolute;
	left: 0;
	top:0;
	width:100%;
	height:100%;
	&.has-slider {
		height:auto;
	}
}
.logo {
	float:left;
	border:solid $color-primary;
	border-width: 5px;
	margin-top: -30px;
	max-width: 100px;
}
// nav
@import 'nav';

@include respond-to('md') {	
	.logo {
		border-width: 15px;
		max-width: 100%;
	}	
	.header-home {
		min-height: 700px;
	}
}

// Info
.header-home  .info  {
	background:#fff;
	position:absolute;
	display:table;
	bottom:50px;
	width:275px;
	.type {
	color:#fff;	
	display:block;
	position:absolute;
	top:0;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 62px 62px 0 0;
	border-color: #433636 transparent transparent transparent;
	&.red {
		border-color: #de3326 transparent transparent transparent;
	}
	}
	.title {
		font-size: 15px;
		font-weight: 700;
		color:#645454;
		text-transform: uppercase;
		font-family: $fontstack2;
	}		
	div {
		display:block;
	}
	.description {
		border-bottom:  1px solid #ccc;
		padding:20px 20px 20px 70px;
	}
	.price {
		padding:0 25px;
	}
	.rate {
		font-size: 20px;
		color:#645454;
		font-family: $fontstack2;
	}
	.btn-default {
		font-family: $fontstack2;
	}
	.meta {
		color:#777777;
		text-transform: uppercase;
	}
	.meta-block {
		padding-right: 5px;
	}
	.text {
		position:absolute;
		left:5px;
		bottom:32px;
	}
	@include respond-to('sm') {
		width:410px;
	}
	@include respond-to('md') {
		width:580px;
	}
}

@include respond-to('md') {
	.header-home  .info  {
		.title  {
			font-size: 20px;
		}
		div {
			display:table-cell;
		}
		.description {
			border-bottom: 0;
			border-right: 1px solid #ccc;
		}
	}
}


@import 'slider-v1';
@import 'header-v1';