/*
Header v1
 */
$header-top: #3f3f3f;
$header-top-light: #f9ce22;

.header-v1-top {
  background: $header-top;
  padding: 12px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 13px;
    color: #b9b9b9;
    text-align: right;
    margin-left: 20px;

    a {
      color: $color-primary;

      &:hover {
        color: lighten($color-primary, 10%);
      }
    }
  }
  @include respond-to('md') {
    ul {
      float: left;
      margin-left: 132px;

      li {
        float: left;
      }
    }
  }
}
.header-v1-mid {
  .container {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 105px;

    @include respond-to('xs') {
      height: 65px;
    }
    ul ul {
      padding-top:24px;
    }
  }
  .logo {
    max-width: 100px;
    margin-top: 0;
    position: absolute;
    left: 15px;
    top: -15px;

    @include respond-to('xs') {
      top: -70px;
    }
    @include respond-to('md') {
      max-width: auto;
      top: -42px;
    }
  }
  .navigation-button {
    margin-top: 0;
  }
  .navigation {
    margin-top: 33px;

    @include respond-to('xs') {
      margin-top: 10px;
      margin-bottom: 0;
    }
    @include respond-to('md') {
      float: left;
      margin-left: 150px;

      li {
        a {
          color: #767373;
        }
        li {
          background: $header-top;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
.main-header-v1 {
  background-size: cover;
  background-position: center;
}
// Header v2 Top
.header-v2-top {
  @extend .header-v1-top;
  background: $header-top-light;
  text-align: center;

  li {
    color: #312738;
    text-align: center;

    a {
      color: #312738;
    }
    a:hover {
      color: lighten(#312738, 30%);
    }
  }
  .social-links-2 {
    display: inline-table;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include respond-to('sm') {
    ul {
      float: left;
      margin-left: 70px;
    }
    .social-links-2 {
      float: right;
      margin: 0;
    }
  }
  @include respond-to('md')  {
    ul {
      margin-top:5px; 
      margin-left: 133px;
    }
  }
}

.header-v2-mid {
  @extend .header-v1-mid;
   .navigation {
    margin-top: 0;
    margin-bottom: 10px;
  }
  @include respond-to('md') {
    .navigation {
    margin-top: 13px;
    }
    .search-box  {
    margin-top: 8px;
  }
  }

}
.social-links-2 {
  a {
    width: 29px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #312738;
    color: #312738;
    border-radius: 50%;
    display: block;
    float: left;
    margin-left: 10px;
    text-align: center;
    transition: color 0.8s ease;
    &:hover {
      color: lighten(#312738, 40%);
    }
  }
}

// Search Box
.search-box {
  float: right;
  position: relative;
  clear: right;
  input[type=text] {
    border:1px solid #767373;
    width: 100%;
    min-height: 30px;
    color: #767373;
    padding: 5px;
    padding-right: 40px;
    border-radius: 5px;
    max-width: 150px;
  }
  button[type=submit] {
    position: absolute;
    right: 0px;
    top: 3px;
    background: none;
    border: 0px;
    color: #767373;
    box-shadow: none;
    font-size: 20px;
  }
  @include respond-to('xs') {
    clear: none;
    margin-right: 10px;
    input[type=text] {
      max-width: 180px;
    }
  }
}
// 

  .header-v2-mid {
    .navigation {
      li {
        @include respond-to('md') {
        padding :0 8px;
      }
      @include respond-to('lg') {
        padding :0 17px;
      }
    }
    ul ul {
      padding-top:20px;
    }
  }
}
















