/*
Heading
 */

/// title row
.title-row {
	@include make-row();
}
.heading {
	text-transform: uppercase;
	h2, h1 {
		font-family: $fontstack4;
		font-weight: 700;
		color:$gray-dark;		
		a {
			color:$gray-dark;
			&:hover {
				color:lighten($gray-dark,15%);
			}
		}

	}
	h3 {
		font-size: 30px;
		font-family: $fontstack4;
		color:$gray-dark;
		a {
			color:$gray-dark;
			&:hover {
				color:lighten($gray-dark,15%);
			}
		}

	}
	h4 {
		font-size: 30px;
		color:$gray-dark;
		font-family: $fontstack2;
		a {
			color:$gray-dark;
			&:hover {
				color:lighten($gray-dark,15%);
			}
		}
	}
	h5 {
		font-size: 20px;
		color:$gray-dark;
		font-family: $fontstack2;
		a {
			color:$gray-dark;
			&:hover {
				color:lighten($gray-dark,15%);
			}
		}
	}

	p {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: $fontstack4;	
	}
	.iconic {
		width:58px;		
		background:#3cafd9;
		text-align: center;
		line-height: 58px;
		display:block;
		float:left;
		clear: left;
		border-radius: 50%;
		font-size: 30px;
		color:#fff;
		&.pink {
			background-color:$color-pink;
		}
		&.style-1 {
			background-color: #aa81d3;
		}
	}
}

@include respond-to('md') {
	.heading {
		h1,h2 {
			font-size: 50px;			
		}
	}
}
.article-title {
	h2, h1 {
		@include font-size(20px);
		color:$gray-dark;
		a {
			color:$gray-dark;
		}
		a:hover {
			color:lighten($gray-dark,10%);
		}
	}
	.has-icon {
		padding-left: 60px;
		position:relative;
		.iconic {
			position:absolute;
			left:0;
			color:$color-primary;
		}
	}
}

.heading-style-1 {
	text-transform: uppercase;
	text-align: center;
}