/*
Page Layout
 */
.page-layout {
	margin-top: 30px;
	@include make-row();
	.main {
		@include make-xs-column(12);
	}
	&.two-column {
		.main {
			@include make-xs-column(12);
			@include make-sm-column(8);
			@include make-md-column(9);
		}
		&.sidebar-left {
			@include respond-to('sm') {
				.main {
				float: right;
			}
			}
			
		}
	}

	.sidebar {
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(3);
	}
}