/*
Google Map
 */ 


.map-section {
	iframe, #map-canvas {
		padding:0;
		width:100%;
		height:450px;
	}
	#map-canvas {
		width:90%;
		display:block;
		margin:0 auto;
	}
	overflow:hidden;
@include respond-to('sm') {
		#map-canvas  {
		width:100%;
	}
	}
}
.map-contents-wrap {
	position:relative;
	z-index: 1;
	.container {
		position:relative;
	}
}
.map-contents, .map-contents-left {
	height:100%;
	position:relative;
	left:0;
	top:0;
	width:100%;
	padding: 20px 0;
	background:$content-back;
}
.toggle-map {
	margin-bottom: 15px;
	.iconic {
		margin-left: 5px;
	}
}
@include respond-to('sm') {

	.map-contents, .map-contents-left {
		width:40%;
		padding:0;
	}
	.map-contents-left {
		height:450px;
		}
	.map-contents, .map-contents-left {
		position:absolute;
	}
	.toggle-map {
		position:absolute;
		right:0;
		top:15px;
	}
}

.map_info_window {
	width:360px;
	display:block;
	overflow:hidden;
	position:relative;	
	font-family: $fontstack2;
	.image {
		width:200px;
		display:block;
		text-align: center;
		position:relative;
		float:left;
	}
	.description {
	background:#fff;
	padding:20px;
	width:154px;
	float:left;
	position: relative;
	}
	h3 {
		font-family: $fontstack2;
		font-size: 15px;
		line-height: 1.4;
		font-weight: 700;
		margin:0;
		.type {
			font-weight: 400;
			display:block;
		}
	}
	.price {
		font-size: 25px;
		color:#d13024;
	}
	
	.box-type {
	color:#fff;	
	display:block;
	position:absolute;
	top:0;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 62px 62px 0 0;
	border-color: #433636 transparent transparent transparent;
		font-size: 12px;
		&.red {
			border-color: #de3326 transparent transparent transparent;
			color:#fff;
		}
		.text {
		position:absolute;
		left:5px;
		bottom:32px;
		text-transform: uppercase;
		}
	}

	.link-arrow {
		width:34px;		
		display:block;
		float: right;
		text-align: center;
		background:#433636;
		line-height: 28px;
		font-size: 20px;
		position:absolute;
		right:-4px;
		bottom:-4px;		
		color:$gray-light;
		&:hover {
			color:$gray-dark;
		}
	}
	
	.meta-list3 {
	.meta {			
			padding:2px;			
			display:block;
		}
	}
}
// InfoWindow Style   
.gm-style-iw2 {
	 width: 360px !important;
	.gm-style-iw {
    width: 360px !important;
    max-height: 200px;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid #ccc;
    border-radius: 0;
    > div {
    	overflow: visible !important;
    	max-width: 360px !important;
    	height:auto !important;
    }
	}
	.gm-style-iw+div{
		top:20px !important;
	}
}

// Map Form  
.map-search-form {
	padding-top:$section-v-space;
	padding-bottom:$section-v-space;
	background:$color-primary;
	h2 {
		font-size: 20px;
		font-family: $fontstack4;
		text-transform: uppercase;
	}
	.form-tab {
		@include make-md-column(5);
		a {
			display:block;
			position:relative;
			background:#605656;			
			border:1px solid lighten(#605656,10%);
			border-left: 0;
			font-size: 13px;
			text-align: center;
			width:33.3333%;
			color:$color-primary;
			padding:14px;
			float:left;
			text-transform: uppercase;
			&:first-child {
				border-left: 1px solid #605656;
			}
			&.active {
				background:#433636;
				color:#fff;
				&:before {
					content:'';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 8px 0 8px;
					border-color: #433636 transparent transparent transparent;
					position:absolute;
					bottom:-8px;
				}
			}
		}
	}
	
}
.map-search-control{
.form-control {
		border:1px solid #74664f;
		background-color: transparent;
		color:#605656;
		min-height: 42px;
	}
	p {
		text-transform: uppercase;
	}
	.form-cotent-map {
		form.active {
			display:block;
		}
	}
	.slider-tooltip {
		margin-bottom: 15px;
	}
	@include respond-to('sm') {
		.slider-tooltip {margin-bottom: 0;}
	}
} 
.st_hide {
	display:none;
}
.active .st_hide {
	display:inline;
}
.toggle-map.active {
	.st_show {
		display:none;
	}
	.iconic:before {
	content: "\f063";
	}
}