.navigation-bar {
	margin-top: 65px;
	padding:15px 0;
	background:rgba($color-nav-back,0.2);
	width:100%;
	float:left;
	height:46px;
}
.navigation {
	float: right;
	//width:80%;
	ul {
		display:none;
		margin: 0;
		padding: 0;
		width:100%;
		list-style: none;

		ul {
			position:absolute;
			left:0;
			top:100%;
			padding:10px 0 0;
			min-width: 100%;
			width:200px;
			visibility:hidden;
			transition:all 0.5s ease;
			opacity:0;
			margin-top: 10px;
			ul {
				left:100%;
				top: -1px;
				padding:0;
			}
		}
		.dir-right {
			left:auto;
			right:100%;
			&.level-1 {
				right:0;
			}
		}
	}
	li {
		display: inline-block;		
		padding:0 17px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 500;
		position:relative;

		// link 
		a {
			color: $color-nav-link;
			&:hover,&.active {
				color:$color-nav-active;
			}
		}

		li.active a {
			color:$color-nav-active;
		}

		li {
		font-size: 90%;
		font-weight: normal;			
			background:rgba($color-nav-back,0.3);
			width:100%;
			border-top: 1px solid lighten($color-nav-back,50%);
			a {
				padding:10px;
				display:block;
			}		
		}

		&:hover > {
			ul {
				visibility:visible;
				opacity:1;
				margin-top: 0;
			}
		}
	}
}
.navigation-button {
	float:right;
	margin-right: 10px;
	background:$color-primary;
	border:0px;
	padding:3px 5px;
	margin-top: -4px;
	.iconic {
		width:auto;
		line-height: auto;
	}
}

// Navigation Mobile
.navigation-mobile {
	transition: all 0.3s ease;
	height:100%;
	position:fixed;
	overflow-x: hidden;
	min-height: 100%;
	background:$color-alt1;
	z-index: 90;
	right:0;
	width:200px;
	transform: translate(200px,0);
	ul {
		margin:0;
		padding:0;
		list-style: none;
	}
	li {		
		margin:0;
		padding:0;
		font-size: 15px;
		display:block;
		border-top:1px solid lighten($color-alt1,10%);
		position:relative;
		.iconic {
			color:$color-nav-link;
			float:right;
			cursor:pointer;
			padding:3px;
			display:block;
		}
		&.menu-item-has-children > a:after {
			position:absolute;
			right:10px;
			content:$iconic-keyboard-arrow-down;
			font-family: 'iconic';
		}
		a {
			display:block;
		}
	}
	// link 
		a {
			color: $color-nav-link;
			padding:15px;
			display:inline-block;
			&:hover {
				color:$color-nav-active;
			}
		}

		li.active a {
			color:$color-nav-active;
		}
		&.active {
			right:200px;
		}
	div {
		text-align: right;
	}
	.iconic-close {
		color:$color-nav-link;
		padding:10px;
		cursor: pointer;	
		display:inline-block;
		&:hover {
			color:darken($color-nav-link,10%);
		}	
	}
	// submenu
	.sub-menu {
		display:none;
	}
}

@include respond-to('md') {
	.navigation-button {
		display:none;
	}
	.navigation ul {
		display:block;
	}
}


