// Grid Box
.grid-box-all {
	
}
.grid-box {
	@include make-xs-column(6);
	@include make-md-column(4);
	margin-bottom: 30px; 
	font-family: $fontstack2;
	.image {
		width:100%;
		display:block;
		text-align: center;
		position:relative;
		overflow:hidden;

	}
	img {
		transition:all 0.8s ease-in-out;
		width: 100%;
	}
	img:hover {
		 transform:scale(1.2);
	}
	.description {
	background:#fff;
	padding:20px;
	width:100%;
	float:left;
	position: relative;
	}
	h3 {
		font-family: $fontstack2;
		font-size: 15px;
		line-height: 1.4;
		font-weight: 700;
		margin:0;
		.type {
			font-weight: 400;
			display:block;
		}
	}
	.price {
		font-size: 25px;
		color:#d13024;
	}
	
	.box-type {
	z-index: 2;
	color:#fff;	
	display:block;
	position:absolute;
	top:0;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 62px 62px 0 0;
	border-color: #433636 transparent transparent transparent;
		font-size: 12px;
		&.red {
			border-color: #de3326 transparent transparent transparent;
			color:#fff;
		}
		.text {
		position:absolute;
		left:5px;
		bottom:32px;
		text-transform: uppercase;
		}
	}

}
.meta-list {
	.meta {
			background:#eeeeee;
			padding:2px;
			margin-right: 5px;
			margin-top: 5px;
			display:inline-block;
		}
}
@media (max-width: $xs-max) {
	.grid-box {
		width:100%;
	}
}

// List View 
.list-view-all {
	padding-top: $pad-top-large;
	.grid-list {
	@include make-xs-column(12);
	@include make-sm-column(6);
	@include make-md-column(4);
	margin-bottom: 30px;
	.background {
		position:relative;
		padding:0;	
		float:left;
		width:100%;
		vertical-align: top;
		border:1px solid #fff;
		transition:all 0.8s ease-in-out;
		&:hover {
			border:1px solid $color-primary;
		}
	}
	.image {		
		max-width: 165px;	
		position:relative;	
		display:table-cell;
		min-width: 165px;
		overflow:hidden;
		@include respond-to('xm') {
		display: block;
		max-width: 100%;
		img {
			width: 100%;
		}
		}
	}
	img {
		transition:all 0.8s ease-in-out;
	}
	img:hover {
		 transform:scale(1.2);
	}
	.description {
		padding:5px 20px;			
		display:table-cell;
		vertical-align: top;
	}
	h3 {
	font-size: 12px;
	line-height: 1.3;
	margin:5px 0 0;
	.type {
		display:block;
	}
	}
	.price {
		font-size: 13px;
		color:#d13024;
	}
	.box-type {
		position:absolute;
		left:0;
		top:0;
		font-size: 10px;
		background: rgba(#55453e,0.7);
		color:#fff;
		padding:5px;
		z-index: 2;
	}
	.box-type.red {
		background-color: #de3326;
			color:#fff;
	}
}
}

@media (max-width: $xs-max) {
	.grid-list {
		width:100%;
	}
}

// search interaction
.search-interaction  {
	.container { display:block;}
	.tab {
		font-size: 20px;
		font-family: $fontstack4;
		color:#433636;
		display:block;
		padding:25px;
		border-bottom: 1px solid #ccc;
		.iconic:before {
			content:$iconic-minus;
			font-family: iconic;
			}	
		&:hover {
			background:#f9ce22;
		}
		&.collapsed {
			.iconic:before {
			content:$iconic-plus;
			}
		}
	}
	margin-bottom: $section-v-space;
}

// Properties List
@import 'property-list';




