.properties-filter {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:15px 0;
	@include row();
}
.filter_menu2, .sidebar .widget .filter_menu2  {
	float:left;
	padding:10px 15px;
	background:$content-back;
	border-left:1px solid #ddd;
	cursor: pointer;
	&:first-child {
		border-left: 0;
	}
	ul {
		max-height: 150px;
		overflow-y: scroll;
		margin:0;
		padding:0;
		list-style: none;
		li {	border:none;
			margin:0;
			&:before {
				display: none;
			}
			padding:5px 10px;
			border-top:1px solid #ddd;
			&:first-child {
				border-top: 0px;
			}
			&:hover {
				background-color: #eee;
			}
		}
	}
}
.widget-search {
	.filter_menu2 {
		.caret {
			float:right;
			margin-top: 7px;
		}
		width:100%;
		border:1px solid $input-border;
		padding:5px 15px;
		@include row();
		margin-bottom: 15px;
		ul {
			width:100%;
		}
	}
	.filter_menu2, .form-control {
		background-color: transparent;
	}
}