$color-sidbear-heading: #433636;
$color-sidbear-heading2:lighten($color-sidbear-heading, 10%);
$background-sidebar-widget: #fff;

.sidebar {
	h4 {
		font-size: 20px;
		text-transform: uppercase;
		padding: 0 0 15px;
		margin: 0;
		border-bottom: 1px solid #b1b7be;
	}
	h5 {
		font-size: 15px;
		color: $color-sidbear-heading2;
		text-transform: uppercase;
		margin: 0 0 10px;

		a {
			color: $color-sidbear-heading2;
		}
		a:hover {
			color: lighten($color-sidbear-heading2, 20%);
		}
	}
	.widget {
		width: 100%;
		float: left;
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
		.widget-content {
			padding-top: 15px;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			margin:0 0 2px;
			padding:0 0 0 20px;
			border-left:2px solid $color-primary;
			background:#fff;
			list-style:none;
			position:relative;
			transition:background-color 0.3s ease;
			&:before {
				content:$iconic-keyboard-arrow-right;
				font-family: 'iconic';
				position:absolute;
				left:5px;
				top:10px;
			}
			&:hover {
				background:$color-primary;
			}
			a {
				display: block;
				padding:10px;				
				color:$text-color;
				&:hover {
					color:darken($text-color,10%);
				}
			}
		}
	}
	.recent-post {
		padding: 15px;
		background: $background-sidebar-widget;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			border-left:0px;
			margin-top: 40px;
			padding: 0 0 0 95px;
			position: relative;
			width: 100%;
			float: left;
			min-height: 84px;
			a {
				padding:0;
			}
			&:hover {
				background:none;
			}
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
#wp-calendar {
	width: 100%;
	margin-top: 25px;
	border-collapse: collapse;

	caption {
		background: $color-primary;
		text-align: center;
		color: $color-sidbear-heading;
		text-transform: uppercase;
		font-weight: 700;
	}
	td, th {
		border: 1px solid #ebebeb;
		padding: 5px;
		background: lighten($background-sidebar-widget, 30%);
		font-size: 13px;
		color: $color-sidbear-heading;
	}
	tbody {
		td {
			text-align: right;
		}
	}
	a {
		font-weight: 700;
		color: $color-sidbear-heading;

		&:hover {
			color: lighten($color-sidbear-heading, 30%);
		}
	}
	tfoot {
		td {
			border-color: lighten($background-sidebar-widget, 30%);
		}
	}
	#next {
		text-align: right;
	}
}
.widget-gallery {
	.gallery-list {
		width: 100%;
		float: left;
		margin-top: 30px;
		margin-left: -2px;
		margin-right: -2px;
	}
	figure {
		a {
			background-size: cover;
			display: block;
		}
		img {
			visibility: hidden;
		}
		@include make-xs-column(4);
		@include make-sm-column(6);
		padding-left: 2px;
		padding-right: 2px;
		margin-bottom: 4px;
		float: left;
	}
}
.widget-newsletter {
	.form-content {
		padding: 15px;
		background: $background-sidebar-widget;
		width: 100%;
		float: left;
		margin-top: 25px;
	}
	
}
.widget {
	.parsley-errors-list {
		li {
			border-left: 0;
			background: red;
			&:before {
				display: none;
			}
		}
	}
}