// sidebar full height
.sidebar-close-bar {
	width:39px;
	height:39px;
	border:1px solid #433636;
	border-radius: 50%;
	text-align: center;
	clear:both;	
	.iconic {
		color:#433636;
		font-size: 20px;
		line-height: 39px;

	}
}
.sidebar-close-bar2 {
	cursor:pointer;
	display:none;
	position:fixed;	
	top:10px;
	padding:10px;
	background:$color-primary;
	left:415px;
	.iconic {
		color:#433636;
		font-size: 20px;
		line-height: 39px;
	}
	@include respond-to('md') {
		&.active {
		display: block;	
		}
		
	}
	@include respond-to('xlg') {
		left:600px;
	}
}
.sidebar-close-button {
	background-color: $color-primary;
	position:fixed;
	padding: 5px 10px;
	left:415px;
	top:20px;	
	&:before {
		color:#433636;
	}
}
.sidebar-full-height,.sidebar-full-height2  {
	position:absolute;
	padding:15px;
	background:$color-primary;	
	top:0;
	z-index: 10;
	width:100%;
	height:100%;
	max-width: 415px;
	left:-100%;
	transition: left 0.5s ease;
	@include respond-to('md') {
		padding:15px 30px;
	}
	@include respond-to('xlg') {
		padding:15px 60px;
		max-width: 600px;
	}
	&.open {
	left:0;
	}

}
.sidebar-full-height2 {
	height:auto;	
	left:0;
	max-width: 40px;
	padding:0;
	text-align: center;
	.iconic {
		@include respond-to('md') {
		position: fixed;
		top:10px;
		left:10px;
		}
		font-size: 20px;
		color:#645454;
	}
	@include respond-to('md') {
	height:100%;
	max-width:42px;
	padding:12px;
	}
}

.widget-1 {
	margin-bottom: 100px;	
	@include row();
	h3 {
		@include font-size(20px);
		text-transform: uppercase;
		color:#231919;
		font-family: $fontstack4;
		&.large-heading {
			@include font-size(40px);			
		}
	}
	h4 {
		@include font-size(15px);
		text-transform: uppercase;
		color:#231919;
		font-family: $fontstack4;
	}
	p {
		color:#231919;
		font-size: 13px;
		margin-top: 30px;
	}
	.large-text-1 {
		text-transform: uppercase;
		color:#231919;
		font-size: 13px;
		font-family: $fontstack4;
	}

}
.widget-1-address {
	p {
		text-transform: uppercase;
		color:#231919;
		font-size: 13px;
		font-family: $fontstack4;
	}
	.logo-image {
		float:right;		
		margin:-100px 0 0 0;
	}
	@include respond-to('md') {
		.logo-image {
			position:relative;
			padding:14px;
			background-color: $color-primary;
			margin:-150px -80px 0 0;
			box-shadow:         9px 9px 30px 0px rgba(50, 50, 50, 0.62);
		}
	}
	@include respond-to('xlg') {
		.logo-image  {
			margin-right: -120px; 
		}
	}
}
// search widget 
.widget-1 {
	.map-search-control p {
	margin-top: 5px;
	}

	.iconic {
		margin-top:30px; 
		width:58px;		
		background:#3cafd9;
		text-align: center;
		line-height: 58px;
		display:block;		
		clear: left;
		border-radius: 50%;
		font-size: 30px;
		color:#fff;
		&.pink {
			background-color:$color-pink;
		}
		&.style-1 {
			background-color: #e577ca;
		}
	}

}
#widget-1-num-9 {
		margin-bottom: 0;	
}
.widget-1-rel-prop {
	ul {
		margin:0;
		padding:0;
		list-style: none;
	}
	li {
		padding:0;
		margin:30px 0 0;
		@include row();
	}
	li:hover .overflow {
		display:block;
	}
	a {
		float:left;
		margin-right: 15px;
		position:relative;
	}
	.overflow {
		background:rgba(#de3326,0.8);
		position:absolute;
		height:100%;
		width:100%;
		top:0;
		left:0;
		display:none;
	}
	.type {
		text-align: center;
		color:#fff;
		display:block;
		line-height: 8;
	}
	p {
		margin-top: 0;
	}
	.price {
		color:#d13024;
		display:block;
		padding-top: 5px;
	}
}

// widget-1 search
.widget-1-search {
	.form-tab {
		a {
			display:inline-block;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			color:#605656;
			padding:10px 30px;
			border:1px solid #605656;
			position:relative;
			&:hover {
				color:lighten(#605656,10%);
			}
			&.active {
				background:#433636;
				color:#fff;
				&:before {
					content:'';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 8px 0 8px;
					border-color: #433636 transparent transparent transparent;
					position:absolute;
					bottom:-8px;
				}
			}
		}
	}
	.adv-search {
		color:#433636;
	}

	@include respond-to('sm') {
		.form-tab { 
			a {
					margin-right: 15px;
			}
	
		}
	}
}

// Widget -1 vertical-align:  
@include respond-to('lg') {
	#widget-1-num-7 {
		margin-top: 340px;
	}
	#widget-1-num-8 {
		margin-top: 177px;
	}
	#widget-1-num-9 {
		margin-top: 328px;
	}
}
// Widget -1 vertical-align:  
@include respond-to('xlg') {
	#widget-1-num-7 {
		margin-top: 420px;
	}
	#widget-1-num-8 {
		margin-top: 200px;
	}
	#widget-1-num-9 {
		margin-top: 380px;
	}
}

