#slider-v1 {
  background: url("images/vendor/AjaxLoader.gif") center no-repeat #000;
  .owl-controls {
    position: absolute;
  }
  .slider-item {
    background-size: cover;
    //background:none !important;
    .banner-img {
      visibility: hidden;
    }
  }
  .owl-controls {
  	width:100%;
    @include respond-to('xm') {
      margin-top:-50px;
    }
  }
  .owl-buttons  {
  	div {
  		background: $color-alt1;
  		color:#fff;
  		margin:10px 0;
  		border-radius: 0;
  		font-family: 'iconic'; 		
  		
  	}
  	.owl-next {
  			float:right;
  			margin-right: 15px;
  			&:before {
  			content:$iconic-angle-right;

  		}
  	}

  	.owl-prev {
  			float:left;
  			margin-left: 15px;
  			&:before {
  			content:$iconic-angle-left;
  		}
  		}
  }

  @include respond-to('md') {
  	.owl-controls {
  		margin-top: -50px;
  		.owl-buttons {
  			div {
  				opacity: 1;
  			}
  		}
  	}
  }
}
.has-slider-v1 , #slider-v1, #slider-v1 .slider-item  {
	min-height: 450px; 	
	@include respond-to('md') {
		min-height: 425px;
	}
}


.slider-caption {
  	position:absolute;
  	width:100%;
  	text-align: right;
  	left:0;
  	bottom:50px;
  	color:#fff;  	
  	.caption-text {
  		padding-right: 30px;
  		padding-left: 30px;
  	}
  	h3 {
  		font-size: 20px;
  	}
}

.slider-caption-v1 {
	background-color: rgba(255,255,255,0.6);
	float:right;
	color:#000;
}
.slider-caption-v2 {
	background-color: rgba($color-alt1,0.8);
	float:right;
	color:$color-primary;
}
@include respond-to('xm') {
  .slider-caption {
    .container {
    padding-left: 0;
    padding-right: 0;
    }
    .caption-text {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}