.social-links {
	a {
	width:39px;
	line-height: 39px;
	height: 39px;
	border-radius: 50%;
	background:#45b0e3;
	display:inline-block;
	text-align: center;
	color:#fff;
	margin-right: 15px;
	font-size: 14px;	
	opacity:1;
	transition: all 0.3s ease;
		&:hover {
			opacity:0.8;			
		}
		@include respond-to(xm){
			margin-right:5px;
			margin-top:10px;
		}
	}
	.iconic-twitter {
			background:#45b0e3;
	}
	.iconic-dribbble {
			background:#d97aa5;			
	}
	.iconic-facebook {
			background:#39599f;			
	}
	.iconic-google-plus {
			background:#dd4b39;			
	}	
}
