// Testimonials
.testimonials {
  margin-bottom: 10px;
  .testimonial-info {
    color: #72c02c;
    font-size: 16px;
    padding: 0 15px;
    margin-top: 18px;
    img {
      width: 60px;
      float: left;
      height: 60px;
      padding: 2px;
      margin-right: 15px;
      border: solid 1px #ccc;
    }
    span {
      top: 3px;
      position: relative;
    }
    em {
      color: #777;
      display: block;
      font-size: 13px;
    }
  }
  .testimonial-author {
    overflow: hidden;
  }
  .carousel-arrow {
    top: -65px;
    position: relative;
  }
  .carousel-arrow i {
    color: #777;
    padding: 2px 10px;
    min-width: 25px;
    font-size: 20px;
    text-align: center;
    background: #f5f5f5;
    &::hover {
      color: #fff;
      background: #72c02c;
    }
  }
  .carousel-control {
    opacity: 1;
    width: 100%;
    text-align: right;
    text-shadow: none;
    position: absolute;
    &.left {
      right: 37px;
      left: auto;
    }
    &.right {
      right: 0px;
    }
  }
  // v1
  &.testimonials-v1 {
    .item p {
      position: relative;
      &:before, &:after {
        left: 80px;
        bottom: -20px;
      }
      &:after {
        border-top: 22px solid;
        border-left: 0 solid transparent;
        border-right: 22px solid transparent;
      }
    }
  }
  // v2
  &.testimonials-v2 {
    .testimonial-info {
      padding: 0 20px;
    }
    p {
      padding-bottom: 15px;
    }
    .carousel-arrow {
      top: -55px;
    }
    .item {
      p {
        &:after,
        &:before {
          left: 8%;
          bottom: 39px;
        }
        &:after {
          border-top: 20px solid;
          border-left: 25px solid transparent;
          border-right: 0px solid transparent;
        }
      }
    }
  }
  &.testimonials-v1,
  &.testimonials-v2 {
    p {
      padding: 15px;
      font-size: 14px;
      font-style: italic;
      background: #f5f5f5;
    }
    .item {
      p:after {
        width: 0;
        height: 0;
        content: " ";
        display: block;
        position: absolute;
        border-top-color: #f5f5f5;
        border-left-style: inset;
        border-right-style: inset;
      }
    }
  }
}

.testimonials-bg-dark,
.testimonials-bg-default {
  .item {
    p {
      color: #fff;
      &:after {
        border-top-color: #72c02c;
      }
    }
  }
  .carousel-arrow {
    i {
      color: #fff;
    }
  }
}

.testimonials-bg-default {
  .item {
    p {
      background: #72c02c;
      &:after {
        border-top-color: #72c02c !important;
      }
    }
  }
  .carousel-arrow {
    i {
      background: #72c02c;
      &:hover {
        background: #5fb611;
      }
    }
  }
}

.testimonials-bg-dark {
  .item {
    p {
      background: #555;
      &:after {
        border-top-color: #555 !important;
      }
    }
  }
  .carousel-arrow {
    i {
      color: #fff;
      background: #555;
      &:hover {
        background: #333;
      }
    }
  }
  .testimonial-info {
    color: #555;
  }
}