@import 'typo_heading';
@import 'typo_blockquote';
@import 'testimonials';
@import 'typo-tagbox';
.contents {
	h1, h2 , h3, h4, h5, h6 {
		font-family: $fontstack2;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	p {
		color:$color-p;
		margin-top: 20px;
		line-height: 1.6;
	}
}

.dropcap, .dropcap-bg {
  float: left;
  color: darken($color-primary,20%);
  padding: 5px 0;
  font-size: 45px;
  font-weight: 300;
  line-height: 30px;
  margin: 0px 5px 0 0;
}
.dropcap-bg {
	background-color: lighten($color-alt1,30%);
	color: $color-primary;
	padding:10px 10px;
	margin-top:5px; 
}
.round-x {
	border-radius: 50%;
}
.color-red {
  color: #e74c3c;
}
.color-sea {
  color: #1abc9c;
}
.color-blue {
  color: $blue;
}
.color-green {
  color: $green;
}
.color-orange {
  color: $orange;
}
.color-purple {
  color: $purple;
}
.color-aqua {
  color: $aqua;
}
.color-brown {
  color: $brown;
}
.color-light-green {
  color: $light-green;
}
.color-dark-blue {
  color: $dark-blue;
}
.text-border {
  border-bottom: dashed 1px #555;
}
.text-border-red {
  border-color: #e74c3c;
}
.text-border-yellow {
  border-color: #f1c40f;
}
.text-border-green {
  border-color: #72c02c;
}
.contents {
	.bg-primary {
		@extend .bg-primary;
	}
}