.headline {
  overflow:hidden;
display: block;
  margin: 10px 0 25px 0;  
  h2, h3, h4 {
	margin: 0 0 -2px 0;
  padding-bottom: 10px;
  display: inline-block;  
  }
  &.v1 {
		border-bottom: 1px dotted #e4e9f0;
		h2, h3, h4 {
			border-bottom: 2px solid darken($color-primary,20%);
		}
  }
  &.v2, &.v3 {
  	h2, h3, h4 {
  		position:relative;
  		&:after {
  		content:'';
  		width:80%;
  		left:100%;
  		position:absolute;
  		height:5px;
  		border-top: 1px solid #ccc;
  		border-bottom: 1px solid #ccc;
  		margin-left: 10px;
  		top:30%;
	  	}
	  	
  	}
  &.text-center {
  	h2, h3, h4 {
  		&:before {
  		content:'';
  		width:80%;
  		right:100%;
  		position:absolute;
  		height:5px;
  		border-top: 1px solid #ccc;
  		border-bottom: 1px solid #ccc;
  		margin-right: 10px;
  		top:30%;
		  	}
	  	}
	  }
  }
  &.v3 {  	
  	h2, h3, h4 {
  		&:after {
  			border-top-style: dashed !important;
  			border-bottom-style: dashed !important;  		
  		}
  	}
  	&.text-center { 
  		h2, h3, h4 {
			&:before {
  			border-top-style: dashed !important;
  			border-bottom-style: dashed !important;  		
  		}
  	}
  	}
  	
  }

}