blockquote {
	font-size: 14px;
	transition: all 0.3s ease-out;
	border-width: 2px;
	&:hover {
		border-left-color: $color-alt1;
	}
	h2, h3, h4 {
		margin-top: 0;
	}
	&.text-right {
		border-left-width: 0px;
		border-right: 2px solid $green;
		&:hover {
			border-color: lighten($green,30%);
		}
	}
	&.v1 {
		background-color: $gray-lighter;
		border-color: $gray-dark;
		&:hover {
			border-color: lighten($gray-dark,30%);
		}
	}
	&.v2 {
		background-color: $gray-dark;
		border-color: $gray-base;
		color:$content-back !important;
		p , small {
				color:$content-back !important;
		}
		&:hover {
			border-color: lighten($gray-base,20%);
		}
	}
	&.v3 {
		background-color: $green;
		border-color: $gray-dark;		
		p , small {
				color:$content-back !important;
		}
		&:hover {
			border-color: lighten($gray-dark,20%);
		}
	}
}

// Tag Boxes
// ------------------------------------/
.shadow-wrapper {
  z-index: 1;  
  position: relative;
}

.box-shadow {
  background: #fff;
  position: relative;
  &:after, &:before {
	  top: 80%;
	  left: 5px;
	  width: 50%;
	  z-index: -1;
	  content: "";
	  bottom: 15px;
	  max-width: 300px;	  
	  position: absolute;
  }
}
.shadow-effect-1 {
  box-shadow: 0 10px 6px -6px #bbb;  
}
.shadow-effect-2 {
  position: relative;
}

.shadow-effect-2,
.shadow-effect-2,
.shadow-effect-3,
.shadow-effect-4 {
	&:after, &:before {
	transform: rotate(-3deg);  
  box-shadow: 0 15px 10px #999; 
	}   
}

.shadow-effect-2,
.shadow-effect-4 {
	&:after { 
	left: auto;
  right: 5px;
  box-shadow: 0 15px 10px #999; 
 transform: rotate(3deg);
	}  
}


.text-box  {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}

.text-box  {
	h2, h3, h4 {	
  margin-top: 0;
	}  
	p {
		margin-bottom: 0;
	}
}


.text-box-v1 {
  border: solid 1px #eee;
  border-left: solid 2px #72c02c;
}


.text-box-v2 {
  border: solid 1px #eee; 
  border-top: solid 2px #72c02c;
}


.text-box-v3 {
  border: solid 2px #eee;
}


.text-box-v4 {
  border: dashed 1px #bbb;
}


.text-box-v5 {
  margin: 20px 0;
  text-align: center;
  border: dashed 1px #ccc;
}

.text-box-v5 span {
  color: #555;
  font-size: 28px;
  margin-bottom: 0;
}


.text-box-v6 {
  background: #fafafa;
  border: solid 1px #eee; 
}

.text-box-v7 {
  border: solid 1px #eee;
  border-bottom: solid 2px #72c02c;
}