#controller{
    position: relative;
}
.contentBubble {
    position: absolute;

    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    left:20px;
}
.tab-content{
    position: relative;
}
.contentBubbleMini {
    background-color: #BFF24D;
    color:#000000;
    border: 1px solid #d3d3d3;
    text-align: center;
}
.contentBubbleHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
.navbar-sidebar li {
    padding:0;
    border-bottom:1px solid #ddd;
}
.navbar-sidebar li h4 {
    margin:0;
}
.navbar-sidebar li a {
    display:inline-block;
    padding:10px 15px;
    color:#333;
    text-decoration:none;
    width:100%;
}
.navbar-sidebar li a:hover {
    background:#eee;
}

/* Panels */
.panel {
    border-radius:0;
    border:0;
    box-shadow:0;
}
.panel-group .panel+.panel {
    margin-top:0;
}
.panel-group .panel {
    border-bottom:1px solid #ddd;
    box-shadow:none;
}
.panel-title .toggle-icon {
    display:inline-block;
    -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition: 0.1s;
}
.panel-title .toggle-icon.in {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg);
}
.panel-heading {
    padding:0;
    border-radius:0;
}
.panel-title a {
    display:inline-block;
    width:100%;
    padding:10px 15px;
    font-size:18px;
    text-decoration:none;
}
.panel-title a:hover {
    background:#eee;
}
.panel-body {
    padding:0;
}
.panel-body ul li {
    border-radius:0;
    border-left:0;
    border-right:0;
    cursor:pointer;
}
.panel-body ul li:hover {
    background:#f9f9f9;
    color:#000;
}
.panel-body ul li:first-child {
    border-top:0;
}
.panel-body ul li:last-child {
    border-bottom:0;
}
.panel-body .list-group {
    margin:0;
}