<div class="ovrlay-getcss">
      <div class="modal show-modal">
        <h3>Skin CSS</h3>
        <a class="close"><i class="iconic iconic-times-circle"></i></a>
        <div id="css_content">               
        <textarea name="" id="cont" cols="30" rows="10"></textarea>
        </div>
        <h4>Please add the above code to <b>style.css</b></h4>
         <a class="btn-red sel-btn clip-btn">Select All</a>
      </div>
    </div>
    <div id="stlChanger">
      <div class="blockChanger bgChanger">
        <a href="#" class="chBut"><i class="iconic iconic-gear"></i></a>
        <div class="chBody" style="display: block;">
          <div class="stBlock">
            <p>Color Scheme</p>           
            <div class="stBgs">
              <a href="#" data-stylesheet="style-seaGrean.css" style="background:#66DBAA;"></a>    
              <a href="#" data-stylesheet="style-blue.css" style="background:#70C7ED;"></a> 
              <a href="#" data-stylesheet="style-lightGreen.css" style="background:#BAE86B;"> </a>   
              <a href="#" data-stylesheet="style-orange.css" style="background:#FFAB4B;"></a>
              <a href="#" data-stylesheet="style-purple.css" style="background:#EAA9EC;"> </a>   
              <a href="#" data-stylesheet="style-lightGray.css" style="background:#E8E8E8;"></a>
              <input type="hidden" id="themeColor" value="">
            </div>
          </div>
          <p id="colorpickerHolder"></p>   
          <div class="stBlock">
            <a class="btn btn-theme" href="#" id="resetColor">Reset color</a>
             <a class="btn get-css">Get CSS</a>            
          </div>
        </div>
      </div>
    </div>