
canvas { display: block; }
#game {
<<<<<<< HEAD
<<<<<<< .merge_file_a00544
    width: 640px;
=======
    width: 320px;
>>>>>>> .merge_file_a09500
=======
    /*width: 320px;*/
>>>>>>> feature/GameIntegration
}