img {
	max-width: 100%;
	height:auto;
}
body {
	min-width: 300px;
}
.row-float {
	width:100%;
	float: left;
}
.wrap {
	position: relative;
	transition: all 0.3s ease;
	transform:translate(0,0);
	&.active {
		transform:translate(-200px,0);
	}	
}
.btn {
	text-transform: uppercase;
	transition:all 0.3s ease;
}
.btn .iconic {
	margin-right: 5px;
}
.btn-ghost {
	@include button-variant($gray,transparent,$gray);
}
.btn-ghost:hover {
	color:#fff;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.pad-top-large {
	padding-top: 25px;
}
.pad-top-small {
	padding-top: 15px;
}
.pad-bottom-small {
	padding-bottom: 15px;
}

@include respond-to('md') {
	.pad-top-large {
		padding-top: 45px;
	}
}
.btn-large {
	padding:12px 20px;
}

.align-left {
	float:left;
}
.align-right {
	float:right;
}
.align-center {
	display:block;
	margin:0 auto;
}
.form-control {
	box-shadow: none;
}
.form-control.input-lg {
	font-size: 14px;
}
.breadcrumb a {
	color:#827d7d;
	&:hover {
		color:darken(#827d7d,30%);
	}
}
iframe {
	max-width: 100%;
}

.tabs-vertical {
	background:$content-back;
	@include row();
	.nav-tabs {
		@include make-sm-column(2);
		border-bottom: 0px;
		padding:0;
		> li {
			width:100%;
			background:#f0f0f0;
		&:last-child {
			border-bottom-width:1px; 
			}
			a {
				padding:30px 20px;
				text-align: center;
			}
		}
	}
	.tab-content {
		@include make-sm-column(10);
		padding:20px;
	}
	@include respond-to('md') {
		
			display:flex;
		
	}
}

.tab-content {
	background:$content-back;
	padding:20px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: $nav-tabs-border-color;
}
.nav-tabs {
	background:$content-back;
}
.nav-tabs > li {
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #fff;
}
.nav-tabs > li:last-child {
	border-width: 1px 1px 0 1px;
}
.nav-tabs > li > a {
	border:0px !important;	
	color:#939393;
	margin-right: 0;
}

.btn-dark {
	@include button-variant(#fff, $btn-dark, $btn-dark);
}
.video-embed {
	iframe {
		width:100%;
		max-width: 100%;
	}
}
.gap-right-15 {
	margin-right: 15px;
}
.gap-left-15 {
	margin-left: 15px;
}
.map-responsive {
	width:100%;
	iframe {
		width:100%;
	}
}
.glyph  {
	width:33.33%;
	float:left;
	input, .hidden-true {
		display:none;
	}
}
.overflow-hidden {
	overflow:hidden;
}
// Parslay Validte 
.form-control.parsley-error {
	border:1px solid $brand-danger;
}
.parsley-errors-list {
	display: block;
	list-style: none;
	margin: 10px  0 0;
	padding: 0;
	li {
		padding: 5px !important;
		font-size: 80%;
		display: inline;
		background: red;
		color: #fff;
	}
}
