@font-face {
    font-family: 'gobold';
    src: url('fonts/gobold_bold-webfont.eot');
    src: url('fonts/gobold_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gobold_bold-webfont.woff2') format('woff2'),
         url('fonts/gobold_bold-webfont.woff') format('woff'),
         url('fonts/gobold_bold-webfont.ttf') format('truetype'),
         url('fonts/gobold_bold-webfont.svg#gobold_boldregular') format('svg');
    font-weight: 700;
    font-style: normal;

}

