$iconic-eye3: "\e000";
$iconic-paper-clip: "\e001";
$iconic-mail3: "\e002";
$iconic-toggle: "\e003";
$iconic-layout: "\e004";
$iconic-link4: "\e005";
$iconic-bell3: "\e006";
$iconic-lock4: "\e007";
$iconic-unlock2: "\e008";
$iconic-ribbon: "\e009";
$iconic-image4: "\e010";
$iconic-signal3: "\e011";
$iconic-target: "\e012";
$iconic-clipboard3: "\e013";
$iconic-clock2: "\e014";
$iconic-watch2: "\e015";
$iconic-air-play: "\e016";
$iconic-camera4: "\e017";
$iconic-video2: "\e018";
$iconic-disc: "\e019";
$iconic-printer: "\e020";
$iconic-monitor: "\e021";
$iconic-server2: "\e022";
$iconic-cog3: "\e023";
$iconic-heart3: "\e024";
$iconic-paragraph2: "\e025";
$iconic-align-justify2: "\e026";
$iconic-align-left3: "\e027";
$iconic-align-center2: "\e028";
$iconic-align-right3: "\e029";
$iconic-book4: "\e030";
$iconic-layers3: "\e031";
$iconic-stack: "\e032";
$iconic-stack-2: "\e033";
$iconic-paper: "\e034";
$iconic-paper-stack: "\e035";
$iconic-search3: "\e036";
$iconic-zoom-in: "\e037";
$iconic-zoom-out: "\e038";
$iconic-reply4: "\e039";
$iconic-circle-plus: "\e040";
$iconic-circle-minus: "\e041";
$iconic-circle-check: "\e042";
$iconic-circle-cross: "\e043";
$iconic-square-plus: "\e044";
$iconic-square-minus: "\e045";
$iconic-square-check: "\e046";
$iconic-square-cross: "\e047";
$iconic-microphone2: "\e048";
$iconic-record: "\e049";
$iconic-skip-back: "\e050";
$iconic-rewind: "\e051";
$iconic-play2: "\e052";
$iconic-pause3: "\e053";
$iconic-stop3: "\e054";
$iconic-fast-forward3: "\e055";
$iconic-skip-forward: "\e056";
$iconic-shuffle3: "\e057";
$iconic-repeat3: "\e058";
$iconic-folder4: "\e059";
$iconic-umbrella2: "\e060";
$iconic-moon2: "\e061";
$iconic-thermometer2: "\e062";
$iconic-drop2: "\e063";
$iconic-sun: "\e064";
$iconic-cloud4: "\e065";
$iconic-cloud-upload3: "\e066";
$iconic-cloud-download3: "\e067";
$iconic-upload3: "\e068";
$iconic-download3: "\e069";
$iconic-location2: "\e070";
$iconic-location-2: "\e071";
$iconic-map3: "\e072";
$iconic-battery2: "\e073";
$iconic-head: "\e074";
$iconic-briefcase3: "\e075";
$iconic-speech-bubble: "\e076";
$iconic-anchor2: "\e077";
$iconic-globe3: "\e078";
$iconic-box2: "\e079";
$iconic-reload: "\e080";
$iconic-share4: "\e081";
$iconic-marquee: "\e082";
$iconic-marquee-plus: "\e083";
$iconic-marquee-minus: "\e084";
$iconic-tag3: "\e085";
$iconic-power: "\e086";
$iconic-command: "\e087";
$iconic-alt: "\e088";
$iconic-esc: "\e089";
$iconic-bar-graph2: "\e090";
$iconic-bar-graph-2: "\e091";
$iconic-pie-graph: "\e092";
$iconic-star4: "\e093";
$iconic-arrow-left3: "\e094";
$iconic-arrow-right3: "\e095";
$iconic-arrow-up3: "\e096";
$iconic-arrow-down3: "\e097";
$iconic-volume: "\e098";
$iconic-mute: "\e099";
$iconic-content-right: "\e100";
$iconic-content-left: "\e101";
$iconic-grid2: "\e102";
$iconic-grid-2: "\e103";
$iconic-columns2: "\e104";
$iconic-loader: "\e105";
$iconic-bag: "\e106";
$iconic-ban2: "\e107";
$iconic-flag4: "\e108";
$iconic-trash3: "\e109";
$iconic-expand2: "\e110";
$iconic-contract: "\e111";
$iconic-maximize: "\e112";
$iconic-minimize: "\e113";
$iconic-plus3: "\e114";
$iconic-minus3: "\e115";
$iconic-check4: "\e116";
$iconic-cross2: "\e117";
$iconic-move: "\e118";
$iconic-delete2: "\e119";
$iconic-menu3: "\e120";
$iconic-archive4: "\e121";
$iconic-inbox4: "\e122";
$iconic-outbox: "\e123";
$iconic-file2: "\e124";
$iconic-file-add: "\e125";
$iconic-file-subtract: "\e126";
$iconic-help3: "\e127";
$iconic-open: "\e128";
$iconic-ellipsis: "\e129";
$iconic-3d-rotation: "\e600";
$iconic-accessibility: "\e601";
$iconic-account-balance: "\e602";
$iconic-account-balance-wallet: "\e603";
$iconic-account-box: "\e604";
$iconic-account-child: "\e605";
$iconic-account-circle: "\e606";
$iconic-add-shopping-cart: "\e607";
$iconic-alarm: "\e608";
$iconic-alarm-add: "\e609";
$iconic-alarm-off: "\e60a";
$iconic-alarm-on: "\e60b";
$iconic-android2: "\e60c";
$iconic-announcement: "\e60d";
$iconic-aspect-ratio: "\e60e";
$iconic-assessment: "\e60f";
$iconic-assignment: "\e610";
$iconic-assignment-ind: "\e611";
$iconic-assignment-late: "\e612";
$iconic-assignment-return: "\e613";
$iconic-assignment-returned: "\e614";
$iconic-assignment-turned-in: "\e615";
$iconic-autorenew: "\e616";
$iconic-backup: "\e617";
$iconic-book2: "\e618";
$iconic-bookmark2: "\e619";
$iconic-bookmark-outline: "\e61a";
$iconic-bug-report: "\e61b";
$iconic-cached: "\e61c";
$iconic-class: "\e61d";
$iconic-credit-card2: "\e61e";
$iconic-dashboard2: "\e61f";
$iconic-delete: "\e620";
$iconic-description: "\e621";
$iconic-dns: "\e622";
$iconic-done: "\e623";
$iconic-done-all: "\e624";
$iconic-event: "\e625";
$iconic-exit-to-app: "\e626";
$iconic-explore: "\e627";
$iconic-extension: "\e628";
$iconic-face-unlock: "\e629";
$iconic-favorite: "\e62a";
$iconic-favorite-outline: "\e62b";
$iconic-find-in-page: "\e62c";
$iconic-find-replace: "\e62d";
$iconic-flip-to-back: "\e62e";
$iconic-flip-to-front: "\e62f";
$iconic-get-app: "\e630";
$iconic-grade: "\e631";
$iconic-group-work: "\e632";
$iconic-help: "\e633";
$iconic-highlight-remove: "\e634";
$iconic-history2: "\e635";
$iconic-home2: "\e636";
$iconic-https: "\e637";
$iconic-info2: "\e638";
$iconic-info-outline: "\e639";
$iconic-input: "\e63a";
$iconic-invert-colors: "\e63b";
$iconic-label: "\e63c";
$iconic-label-outline: "\e63d";
$iconic-language2: "\e63e";
$iconic-launch: "\e63f";
$iconic-list2: "\e640";
$iconic-lock2: "\e641";
$iconic-lock-open: "\e642";
$iconic-lock-outline: "\e643";
$iconic-loyalty: "\e644";
$iconic-markunread-mailbox: "\e645";
$iconic-note-add: "\e646";
$iconic-open-in-browser: "\e647";
$iconic-open-in-new: "\e648";
$iconic-open-with: "\e649";
$iconic-pageview: "\e64a";
$iconic-payment: "\e64b";
$iconic-perm-camera-m: "\e64c";
$iconic-perm-contact-cal: "\e64d";
$iconic-perm-data-setting: "\e64e";
$iconic-perm-device-info: "\e64f";
$iconic-perm-identity: "\e650";
$iconic-perm-media: "\e651";
$iconic-perm-phone-msg: "\e652";
$iconic-perm-scan-wifi: "\e653";
$iconic-picture-in-picture: "\e654";
$iconic-polymer: "\e655";
$iconic-print2: "\e656";
$iconic-query-builder: "\e657";
$iconic-question-answer: "\e658";
$iconic-receipt: "\e659";
$iconic-redeem: "\e65a";
$iconic-reorder2: "\e65b";
$iconic-report-problem: "\e65c";
$iconic-restore: "\e65d";
$iconic-room: "\e65e";
$iconic-schedule: "\e65f";
$iconic-search2: "\e660";
$iconic-settings: "\e661";
$iconic-settings-applications: "\e662";
$iconic-settings-backup-restore: "\e663";
$iconic-settings-bluetooth: "\e664";
$iconic-settings-cell: "\e665";
$iconic-settings-display: "\e666";
$iconic-settings-ethernet: "\e667";
$iconic-settings-input-antenna: "\e668";
$iconic-settings-input-component: "\e669";
$iconic-settings-input-composite: "\e66a";
$iconic-settings-input-hdmi: "\e66b";
$iconic-settings-input-svideo: "\e66c";
$iconic-settings-overscan: "\e66d";
$iconic-settings-phone: "\e66e";
$iconic-settings-power: "\e66f";
$iconic-settings-remote: "\e670";
$iconic-settings-voice: "\e671";
$iconic-shop: "\e672";
$iconic-shop-two: "\e673";
$iconic-shopping-basket: "\e674";
$iconic-shopping-cart2: "\e675";
$iconic-speaker-notes: "\e676";
$iconic-spellcheck: "\e677";
$iconic-star-rate: "\e678";
$iconic-stars: "\e679";
$iconic-store: "\e67a";
$iconic-subject: "\e67b";
$iconic-supervisor-account: "\e67c";
$iconic-swap-horiz: "\e67d";
$iconic-swap-vert: "\e67e";
$iconic-swap-vert-circle: "\e67f";
$iconic-system-update-tv: "\e680";
$iconic-tab: "\e681";
$iconic-tab-unselected: "\e682";
$iconic-theaters: "\e683";
$iconic-thumb-down: "\e684";
$iconic-thumb-up: "\e685";
$iconic-thumbs-up-down: "\e686";
$iconic-toc: "\e687";
$iconic-today: "\e688";
$iconic-track-changes: "\e689";
$iconic-translate: "\e68a";
$iconic-trending-down: "\e68b";
$iconic-trending-neutral: "\e68c";
$iconic-trending-up: "\e68d";
$iconic-turned-in: "\e68e";
$iconic-turned-in-not: "\e68f";
$iconic-verified-user: "\e690";
$iconic-view-agenda: "\e691";
$iconic-view-array: "\e692";
$iconic-view-carousel: "\e693";
$iconic-view-column: "\e694";
$iconic-view-day: "\e695";
$iconic-view-headline: "\e696";
$iconic-view-list: "\e697";
$iconic-view-module: "\e698";
$iconic-view-quilt: "\e699";
$iconic-view-stream: "\e69a";
$iconic-view-week: "\e69b";
$iconic-visibility: "\e69c";
$iconic-visibility-off: "\e69d";
$iconic-wallet-giftcard: "\e69e";
$iconic-wallet-membership: "\e69f";
$iconic-wallet-travel: "\e6a0";
$iconic-work: "\e6a1";
$iconic-error: "\e6a2";
$iconic-warning2: "\e6a3";
$iconic-album: "\e6a4";
$iconic-av-timer: "\e6a5";
$iconic-closed-caption: "\e6a6";
$iconic-equalizer: "\e6a7";
$iconic-explicit: "\e6a8";
$iconic-fast-forward2: "\e6a9";
$iconic-fast-rewind: "\e6aa";
$iconic-games: "\e6ab";
$iconic-hearing: "\e6ac";
$iconic-high-quality: "\e6ad";
$iconic-loop: "\e6ae";
$iconic-mic: "\e6af";
$iconic-mnone: "\e6b0";
$iconic-moff: "\e6b1";
$iconic-movie: "\e6b2";
$iconic-my-library-add: "\e6b3";
$iconic-my-library-books: "\e6b4";
$iconic-my-library-mus: "\e6b5";
$iconic-new-releases: "\e6b6";
$iconic-not-interested: "\e6b7";
$iconic-pause2: "\e6b8";
$iconic-pause-circle-fill: "\e6b9";
$iconic-pause-circle-outline: "\e6ba";
$iconic-play-arrow: "\e6bb";
$iconic-play-circle-fill: "\e6bc";
$iconic-play-circle-outline: "\e6bd";
$iconic-play-shopping-bag: "\e6be";
$iconic-playlist-add: "\e6bf";
$iconic-queue: "\e6c0";
$iconic-queue-mus: "\e6c1";
$iconic-radio: "\e6c2";
$iconic-recent-actors: "\e6c3";
$iconic-repeat2: "\e6c4";
$iconic-repeat-one: "\e6c5";
$iconic-replay: "\e6c6";
$iconic-shuffle: "\e6c7";
$iconic-skip-next: "\e6c8";
$iconic-skip-previous: "\e6c9";
$iconic-snooze: "\e6ca";
$iconic-stop2: "\e6cb";
$iconic-subtitles: "\e6cc";
$iconic-surround-sound: "\e6cd";
$iconic-video-collection: "\e6ce";
$iconic-videocam: "\e6cf";
$iconic-videocam-off: "\e6d0";
$iconic-volume-down2: "\e6d1";
$iconic-volume-mute: "\e6d2";
$iconic-volume-off2: "\e6d3";
$iconic-volume-up2: "\e6d4";
$iconic-web: "\e6d5";
$iconic-business: "\e6d6";
$iconic-call: "\e6d7";
$iconic-call-end: "\e6d8";
$iconic-call-made: "\e6d9";
$iconic-call-merge: "\e6da";
$iconic-call-missed: "\e6db";
$iconic-call-received: "\e6dc";
$iconic-call-split: "\e6dd";
$iconic-chat: "\e6de";
$iconic-clear-all: "\e6df";
$iconic-comment2: "\e6e0";
$iconic-contacts: "\e6e1";
$iconic-dialer-sip: "\e6e2";
$iconic-dialpad: "\e6e3";
$iconic-dnd-on: "\e6e4";
$iconic-email: "\e6e5";
$iconic-forum: "\e6e6";
$iconic-import-export: "\e6e7";
$iconic-invert-colors-off: "\e6e8";
$iconic-invert-colors-on: "\e6e9";
$iconic-live-help: "\e6ea";
$iconic-location-off: "\e6eb";
$iconic-location-on: "\e6ec";
$iconic-message: "\e6ed";
$iconic-messenger: "\e6ee";
$iconic-no-sim: "\e6ef";
$iconic-phone2: "\e6f0";
$iconic-portable-wifi-off: "\e6f1";
$iconic-quick-contacts-dialer: "\e6f2";
$iconic-quick-contacts-mail: "\e6f3";
$iconic-ring-volume: "\e6f4";
$iconic-stay-current-landscape: "\e6f5";
$iconic-stay-current-portrait: "\e6f6";
$iconic-stay-primary-landscape: "\e6f7";
$iconic-stay-primary-portrait: "\e6f8";
$iconic-swap-calls: "\e6f9";
$iconic-textsms: "\e6fa";
$iconic-voicemail: "\e6fb";
$iconic-vpn-key: "\e6fc";
$iconic-add: "\e6fd";
$iconic-add-box: "\e6fe";
$iconic-add-circle: "\e6ff";
$iconic-add-circle-outline: "\e700";
$iconic-archive2: "\e701";
$iconic-backspace: "\e702";
$iconic-block: "\e703";
$iconic-clear: "\e704";
$iconic-content-copy: "\e705";
$iconic-content-cut: "\e706";
$iconic-content-paste: "\e707";
$iconic-create: "\e708";
$iconic-drafts: "\e709";
$iconic-filter-list: "\e70a";
$iconic-flag2: "\e70b";
$iconic-forward2: "\e70c";
$iconic-gesture: "\e70d";
$iconic-inbox2: "\e70e";
$iconic-link2: "\e70f";
$iconic-mail: "\e710";
$iconic-markunread: "\e711";
$iconic-redo: "\e712";
$iconic-remove2: "\e713";
$iconic-remove-circle: "\e714";
$iconic-remove-circle-outline: "\e715";
$iconic-reply2: "\e716";
$iconic-reply-all2: "\e717";
$iconic-report: "\e718";
$iconic-save2: "\e719";
$iconic-select-all: "\e71a";
$iconic-send2: "\e71b";
$iconic-sort2: "\e71c";
$iconic-text-format: "\e71d";
$iconic-undo2: "\e71e";
$iconic-access-alarm: "\e71f";
$iconic-access-alarms: "\e720";
$iconic-access-time: "\e721";
$iconic-add-alarm: "\e722";
$iconic-airplanemode-off: "\e723";
$iconic-airplanemode-on: "\e724";
$iconic-battery-20: "\e725";
$iconic-battery-30: "\e726";
$iconic-battery-50: "\e727";
$iconic-battery-60: "\e728";
$iconic-battery-80: "\e729";
$iconic-battery-90: "\e72a";
$iconic-battery-alert: "\e72b";
$iconic-battery-charging-20: "\e72c";
$iconic-battery-charging-30: "\e72d";
$iconic-battery-charging-50: "\e72e";
$iconic-battery-charging-60: "\e72f";
$iconic-battery-charging-80: "\e730";
$iconic-battery-charging-90: "\e731";
$iconic-battery-charging-full: "\e732";
$iconic-battery-full: "\e733";
$iconic-battery-std: "\e734";
$iconic-battery-unknown: "\e735";
$iconic-bluetooth: "\e736";
$iconic-bluetooth-connected: "\e737";
$iconic-bluetooth-disabled: "\e738";
$iconic-bluetooth-searching: "\e739";
$iconic-brightness-auto: "\e73a";
$iconic-brightness-high: "\e73b";
$iconic-brightness-low: "\e73c";
$iconic-brightness-medium: "\e73d";
$iconic-data-usage: "\e73e";
$iconic-developer-mode: "\e73f";
$iconic-devices: "\e740";
$iconic-dvr: "\e741";
$iconic-gps-fixed: "\e742";
$iconic-gps-not-fixed: "\e743";
$iconic-gps-off: "\e744";
$iconic-location-disabled: "\e745";
$iconic-location-searching: "\e746";
$iconic-multitrack-audio: "\e747";
$iconic-network-cell: "\e748";
$iconic-network-wifi: "\e749";
$iconic-nfc: "\e74a";
$iconic-now-wallpaper: "\e74b";
$iconic-now-widgets: "\e74c";
$iconic-screen-lock-landscape: "\e74d";
$iconic-screen-lock-portrait: "\e74e";
$iconic-screen-lock-rotation: "\e74f";
$iconic-screen-rotation: "\e750";
$iconic-sd-storage: "\e751";
$iconic-settings-system-daydream: "\e752";
$iconic-signal-cellular-0-bar: "\e753";
$iconic-signal-cellular-1-bar: "\e754";
$iconic-signal-cellular-2-bar: "\e755";
$iconic-signal-cellular-3-bar: "\e756";
$iconic-signal-cellular-4-bar: "\e757";
$iconic-signal-cellular-connected-no-internet-0-bar: "\e758";
$iconic-signal-cellular-connected-no-internet-1-bar: "\e759";
$iconic-signal-cellular-connected-no-internet-2-bar: "\e75a";
$iconic-signal-cellular-connected-no-internet-3-bar: "\e75b";
$iconic-signal-cellular-connected-no-internet-4-bar: "\e75c";
$iconic-signal-cellular-no-sim: "\e75d";
$iconic-signal-cellular-null: "\e75e";
$iconic-signal-cellular-off: "\e75f";
$iconic-signal-wifi-0-bar: "\e760";
$iconic-signal-wifi-1-bar: "\e761";
$iconic-signal-wifi-2-bar: "\e762";
$iconic-signal-wifi-3-bar: "\e763";
$iconic-signal-wifi-4-bar: "\e764";
$iconic-signal-wifi-off: "\e765";
$iconic-signal-wifi-statusbar-1-bar: "\e766";
$iconic-signal-wifi-statusbar-2-bar: "\e767";
$iconic-signal-wifi-statusbar-3-bar: "\e768";
$iconic-signal-wifi-statusbar-4-bar: "\e769";
$iconic-signal-wifi-statusbar-connected-no-internet-1: "\e76a";
$iconic-signal-wifi-statusbar-connected-no-internet-2: "\e76b";
$iconic-signal-wifi-statusbar-connected-no-internet-3: "\e76c";
$iconic-signal-wifi-statusbar-connected-no-internet-4: "\e76d";
$iconic-signal-wifi-statusbar-connected-no-internet: "\e76e";
$iconic-signal-wifi-statusbar-not-connected: "\e76f";
$iconic-signal-wifi-statusbar-null: "\e770";
$iconic-storage: "\e771";
$iconic-usb: "\e772";
$iconic-wifi-lock: "\e773";
$iconic-wifi-tethering: "\e774";
$iconic-attach-file: "\e775";
$iconic-attach-money: "\e776";
$iconic-border-all: "\e777";
$iconic-border-bottom: "\e778";
$iconic-border-clear: "\e779";
$iconic-border-color: "\e77a";
$iconic-border-horizontal: "\e77b";
$iconic-border-inner: "\e77c";
$iconic-border-left: "\e77d";
$iconic-border-outer: "\e77e";
$iconic-border-right: "\e77f";
$iconic-border-style: "\e780";
$iconic-border-top: "\e781";
$iconic-border-vertical: "\e782";
$iconic-format-align-center: "\e783";
$iconic-format-align-justify: "\e784";
$iconic-format-align-left: "\e785";
$iconic-format-align-right: "\e786";
$iconic-format-bold: "\e787";
$iconic-format-clear: "\e788";
$iconic-format-color-fill: "\e789";
$iconic-format-color-reset: "\e78a";
$iconic-format-color-text: "\e78b";
$iconic-format-indent-decrease: "\e78c";
$iconic-format-indent-increase: "\e78d";
$iconic-format-ital: "\e78e";
$iconic-format-line-spacing: "\e78f";
$iconic-format-list-bulleted: "\e790";
$iconic-format-list-numbered: "\e791";
$iconic-format-paint: "\e792";
$iconic-format-quote: "\e793";
$iconic-format-size: "\e794";
$iconic-format-strikethrough: "\e795";
$iconic-format-textdirection-l-to-r: "\e796";
$iconic-format-textdirection-r-to-l: "\e797";
$iconic-format-underline: "\e798";
$iconic-functions: "\e799";
$iconic-insert-chart: "\e79a";
$iconic-insert-comment: "\e79b";
$iconic-insert-drive-file: "\e79c";
$iconic-insert-emoticon: "\e79d";
$iconic-insert-invitation: "\e79e";
$iconic-insert-link: "\e79f";
$iconic-insert-photo: "\e7a0";
$iconic-merge-type: "\e7a1";
$iconic-mode-comment: "\e7a2";
$iconic-mode-edit: "\e7a3";
$iconic-publish: "\e7a4";
$iconic-vertical-align-bottom: "\e7a5";
$iconic-vertical-align-center: "\e7a6";
$iconic-vertical-align-top: "\e7a7";
$iconic-wrap-text: "\e7a8";
$iconic-attachment: "\e7a9";
$iconic-cloud2: "\e7aa";
$iconic-cloud-circle: "\e7ab";
$iconic-cloud-done: "\e7ac";
$iconic-cloud-download2: "\e7ad";
$iconic-cloud-off: "\e7ae";
$iconic-cloud-queue: "\e7af";
$iconic-cloud-upload2: "\e7b0";
$iconic-file-download: "\e7b1";
$iconic-file-upload: "\e7b2";
$iconic-folder2: "\e7b3";
$iconic-folder-open2: "\e7b4";
$iconic-folder-shared: "\e7b5";
$iconic-cast: "\e7b6";
$iconic-cast-connected: "\e7b7";
$iconic-computer: "\e7b8";
$iconic-desktop-mac: "\e7b9";
$iconic-desktop-windows: "\e7ba";
$iconic-dock: "\e7bb";
$iconic-gamepad2: "\e7bc";
$iconic-headset: "\e7bd";
$iconic-headset-m: "\e7be";
$iconic-keyboard: "\e7bf";
$iconic-keyboard-alt: "\e7c0";
$iconic-keyboard-arrow-down: "\e7c1";
$iconic-keyboard-arrow-left: "\e7c2";
$iconic-keyboard-arrow-right: "\e7c3";
$iconic-keyboard-arrow-up: "\e7c4";
$iconic-keyboard-backspace: "\e7c5";
$iconic-keyboard-capslock: "\e7c6";
$iconic-keyboard-control: "\e7c7";
$iconic-keyboard-hide: "\e7c8";
$iconic-keyboard-return: "\e7c9";
$iconic-keyboard-tab: "\e7ca";
$iconic-keyboard-voice: "\e7cb";
$iconic-laptop2: "\e7cc";
$iconic-laptop-chromebook: "\e7cd";
$iconic-laptop-mac: "\e7ce";
$iconic-laptop-windows: "\e7cf";
$iconic-memory: "\e7d0";
$iconic-mouse: "\e7d1";
$iconic-phone-android: "\e7d2";
$iconic-phone-iphone: "\e7d3";
$iconic-phonelink: "\e7d4";
$iconic-phonelink-off: "\e7d5";
$iconic-security: "\e7d6";
$iconic-sim-card: "\e7d7";
$iconic-smartphone: "\e7d8";
$iconic-speaker: "\e7d9";
$iconic-tablet2: "\e7da";
$iconic-tablet-android: "\e7db";
$iconic-tablet-mac: "\e7dc";
$iconic-tv: "\e7dd";
$iconic-watch: "\e7de";
$iconic-add-to-photos: "\e7df";
$iconic-adjust2: "\e7e0";
$iconic-assistant-photo: "\e7e1";
$iconic-audiotrack: "\e7e2";
$iconic-blur-circular: "\e7e3";
$iconic-blur-linear: "\e7e4";
$iconic-blur-off: "\e7e5";
$iconic-blur-on: "\e7e6";
$iconic-brightness-1: "\e7e7";
$iconic-brightness-2: "\e7e8";
$iconic-brightness-3: "\e7e9";
$iconic-brightness-4: "\e7ea";
$iconic-brightness-5: "\e7eb";
$iconic-brightness-6: "\e7ec";
$iconic-brightness-7: "\e7ed";
$iconic-brush: "\e7ee";
$iconic-camera2: "\e7ef";
$iconic-camera-alt: "\e7f0";
$iconic-camera-front: "\e7f1";
$iconic-camera-rear: "\e7f2";
$iconic-camera-roll: "\e7f3";
$iconic-center-focus-strong: "\e7f4";
$iconic-center-focus-weak: "\e7f5";
$iconic-collections: "\e7f6";
$iconic-color-lens: "\e7f7";
$iconic-colorize: "\e7f8";
$iconic-compare: "\e7f9";
$iconic-control-point: "\e7fa";
$iconic-control-point-duplicate: "\e7fb";
$iconic-crop-3-2: "\e7fc";
$iconic-crop-5-4: "\e7fd";
$iconic-crop-7-5: "\e7fe";
$iconic-crop-16-9: "\e7ff";
$iconic-crop2: "\e800";
$iconic-crop-din: "\e801";
$iconic-crop-free: "\e802";
$iconic-crop-landscape: "\e803";
$iconic-crop-original: "\e804";
$iconic-crop-portrait: "\e805";
$iconic-crop-square: "\e806";
$iconic-dehaze: "\e807";
$iconic-details: "\e808";
$iconic-edit2: "\e809";
$iconic-exposure: "\e80a";
$iconic-exposure-minus-1: "\e80b";
$iconic-exposure-minus-2: "\e80c";
$iconic-exposure-plus-1: "\e80d";
$iconic-exposure-plus-2: "\e80e";
$iconic-exposure-zero: "\e80f";
$iconic-filter-1: "\e810";
$iconic-filter-2: "\e811";
$iconic-filter-3: "\e812";
$iconic-filter-4: "\e813";
$iconic-filter-5: "\e814";
$iconic-filter-6: "\e815";
$iconic-filter-7: "\e816";
$iconic-filter-8: "\e817";
$iconic-filter-9: "\e818";
$iconic-filter-9-plus: "\e819";
$iconic-filter2: "\e81a";
$iconic-filter-b-and-w: "\e81b";
$iconic-filter-center-focus: "\e81c";
$iconic-filter-drama: "\e81d";
$iconic-filter-frames: "\e81e";
$iconic-filter-hdr: "\e81f";
$iconic-filter-none: "\e820";
$iconic-filter-tilt-shift: "\e821";
$iconic-filter-vintage: "\e822";
$iconic-flare: "\e823";
$iconic-flash-auto: "\e824";
$iconic-flash-off: "\e825";
$iconic-flash-on: "\e826";
$iconic-flip: "\e827";
$iconic-gradient: "\e828";
$iconic-grain: "\e829";
$iconic-grid-off: "\e82a";
$iconic-grid-on: "\e82b";
$iconic-hdr-off: "\e82c";
$iconic-hdr-on: "\e82d";
$iconic-hdr-strong: "\e82e";
$iconic-hdr-weak: "\e82f";
$iconic-healing: "\e830";
$iconic-image2: "\e831";
$iconic-image-aspect-ratio: "\e832";
$iconic-iso: "\e833";
$iconic-landscape: "\e834";
$iconic-leak-add: "\e835";
$iconic-leak-remove: "\e836";
$iconic-lens: "\e837";
$iconic-looks-3: "\e838";
$iconic-looks-4: "\e839";
$iconic-looks-5: "\e83a";
$iconic-looks-6: "\e83b";
$iconic-looks: "\e83c";
$iconic-looks-one: "\e83d";
$iconic-looks-two: "\e83e";
$iconic-loupe: "\e83f";
$iconic-movie-creation: "\e840";
$iconic-nature: "\e841";
$iconic-nature-people: "\e842";
$iconic-navigate-before: "\e843";
$iconic-navigate-next: "\e844";
$iconic-palette: "\e845";
$iconic-panorama: "\e846";
$iconic-panorama-fisheye: "\e847";
$iconic-panorama-horizontal: "\e848";
$iconic-panorama-vertical: "\e849";
$iconic-panorama-wide-angle: "\e84a";
$iconic-photo2: "\e84b";
$iconic-photo-album: "\e84c";
$iconic-photo-camera: "\e84d";
$iconic-photo-library: "\e84e";
$iconic-portrait: "\e84f";
$iconic-remove-red-eye: "\e850";
$iconic-rotate-left2: "\e851";
$iconic-rotate-right2: "\e852";
$iconic-slideshow: "\e853";
$iconic-straighten: "\e854";
$iconic-style: "\e855";
$iconic-switch-camera: "\e856";
$iconic-switch-video: "\e857";
$iconic-tag-faces: "\e858";
$iconic-texture: "\e859";
$iconic-timelapse: "\e85a";
$iconic-timer-3: "\e85b";
$iconic-timer-10: "\e85c";
$iconic-timer: "\e85d";
$iconic-timer-auto: "\e85e";
$iconic-timer-off: "\e85f";
$iconic-tonality: "\e860";
$iconic-transform: "\e861";
$iconic-tune: "\e862";
$iconic-wb-auto: "\e863";
$iconic-wb-cloudy: "\e864";
$iconic-wb-incandescent: "\e865";
$iconic-wb-irradescent: "\e866";
$iconic-wb-sunny: "\e867";
$iconic-beenhere: "\e868";
$iconic-directions: "\e869";
$iconic-directions-bike: "\e86a";
$iconic-directions-bus: "\e86b";
$iconic-directions-car: "\e86c";
$iconic-directions-ferry: "\e86d";
$iconic-directions-subway: "\e86e";
$iconic-directions-train: "\e86f";
$iconic-directions-transit: "\e870";
$iconic-directions-walk: "\e871";
$iconic-flight: "\e872";
$iconic-hotel2: "\e873";
$iconic-layers: "\e874";
$iconic-layers-clear: "\e875";
$iconic-local-airport: "\e876";
$iconic-local-atm: "\e877";
$iconic-local-attraction: "\e878";
$iconic-local-bar: "\e879";
$iconic-local-cafe: "\e87a";
$iconic-local-car-wash: "\e87b";
$iconic-local-convenience-store: "\e87c";
$iconic-local-drink: "\e87d";
$iconic-local-florist: "\e87e";
$iconic-local-gas-station: "\e87f";
$iconic-local-grocery-store: "\e880";
$iconic-local-hospital: "\e881";
$iconic-local-hotel: "\e882";
$iconic-local-laundry-service: "\e883";
$iconic-local-library: "\e884";
$iconic-local-mall: "\e885";
$iconic-local-movies: "\e886";
$iconic-local-offer: "\e887";
$iconic-local-parking: "\e888";
$iconic-local-pharmacy: "\e889";
$iconic-local-phone: "\e88a";
$iconic-local-pizza: "\e88b";
$iconic-local-play: "\e88c";
$iconic-local-post-office: "\e88d";
$iconic-local-print-shop: "\e88e";
$iconic-local-restaurant: "\e88f";
$iconic-local-see: "\e890";
$iconic-local-shipping: "\e891";
$iconic-local-taxi: "\e892";
$iconic-location-history: "\e893";
$iconic-map: "\e894";
$iconic-my-location: "\e895";
$iconic-navigation: "\e896";
$iconic-pin-drop: "\e897";
$iconic-place: "\e898";
$iconic-rate-review: "\e899";
$iconic-restaurant-menu: "\e89a";
$iconic-satellite: "\e89b";
$iconic-store-mall-directory: "\e89c";
$iconic-terrain: "\e89d";
$iconic-traff: "\e89e";
$iconic-apps: "\e89f";
$iconic-arrow-back: "\e8a0";
$iconic-arrow-drop-down: "\e8a1";
$iconic-arrow-drop-down-circle: "\e8a2";
$iconic-arrow-drop-up: "\e8a3";
$iconic-arrow-forward: "\e8a4";
$iconic-cancel: "\e8a5";
$iconic-check2: "\e8a6";
$iconic-chevron-left2: "\e8a7";
$iconic-chevron-right2: "\e8a8";
$iconic-close2: "\e8a9";
$iconic-expand-less: "\e8aa";
$iconic-expand-more: "\e8ab";
$iconic-fullscreen: "\e8ac";
$iconic-fullscreen-exit: "\e8ad";
$iconic-menu: "\e8ae";
$iconic-more-horiz: "\e8af";
$iconic-more-vert: "\e8b0";
$iconic-refresh2: "\e8b1";
$iconic-unfold-less: "\e8b2";
$iconic-unfold-more: "\e8b3";
$iconic-adb: "\e8b4";
$iconic-bluetooth-audio: "\e8b5";
$iconic-disc-full: "\e8b6";
$iconic-dnd-forwardslash: "\e8b7";
$iconic-do-not-disturb: "\e8b8";
$iconic-drive-eta: "\e8b9";
$iconic-event-available: "\e8ba";
$iconic-event-busy: "\e8bb";
$iconic-event-note: "\e8bc";
$iconic-folder-special: "\e8bd";
$iconic-mms: "\e8be";
$iconic-more: "\e8bf";
$iconic-network-locked: "\e8c0";
$iconic-phone-bluetooth-speaker: "\e8c1";
$iconic-phone-forwarded: "\e8c2";
$iconic-phone-in-talk: "\e8c3";
$iconic-phone-locked: "\e8c4";
$iconic-phone-missed: "\e8c5";
$iconic-phone-paused: "\e8c6";
$iconic-play-download: "\e8c7";
$iconic-play-install: "\e8c8";
$iconic-sd-card: "\e8c9";
$iconic-sim-card-alert: "\e8ca";
$iconic-sms: "\e8cb";
$iconic-sms-failed: "\e8cc";
$iconic-sync: "\e8cd";
$iconic-sync-disabled: "\e8ce";
$iconic-sync-problem: "\e8cf";
$iconic-system-update: "\e8d0";
$iconic-tap-and-play: "\e8d1";
$iconic-time-to-leave: "\e8d2";
$iconic-vibration: "\e8d3";
$iconic-voice-chat: "\e8d4";
$iconic-vpn-lock: "\e8d5";
$iconic-cake: "\e8d6";
$iconic-domain: "\e8d7";
$iconic-group2: "\e8d8";
$iconic-group-add: "\e8d9";
$iconic-location-city: "\e8da";
$iconic-mood: "\e8db";
$iconic-notifications: "\e8dc";
$iconic-notifications-none: "\e8dd";
$iconic-notifications-off: "\e8de";
$iconic-notifications-on: "\e8df";
$iconic-notifications-paused: "\e8e0";
$iconic-pages: "\e8e1";
$iconic-party-mode: "\e8e2";
$iconic-people: "\e8e3";
$iconic-people-outline: "\e8e4";
$iconic-person: "\e8e5";
$iconic-person-add: "\e8e6";
$iconic-person-outline: "\e8e7";
$iconic-plus-one: "\e8e8";
$iconic-poll: "\e8e9";
$iconic-publ: "\e8ea";
$iconic-school: "\e8eb";
$iconic-share2: "\e8ec";
$iconic-whatshot: "\e8ed";
$iconic-check-box: "\e8ee";
$iconic-check-box-outline-blank: "\e8ef";
$iconic-radio-button-off: "\e8f0";
$iconic-radio-button-on: "\e8f1";
$iconic-star2: "\e8f2";
$iconic-star-half2: "\e8f3";
$iconic-star-outline: "\e8f4";
$iconic-chat3: "\ea76";
$iconic-chat-alt-stroke: "\ea77";
$iconic-chat-alt-fill: "\ea78";
$iconic-comment-alt1-stroke: "\ea79";
$iconic-comment3: "\ea7a";
$iconic-comment-stroke: "\ea7b";
$iconic-comment-fill: "\ea7c";
$iconic-comment-alt2-stroke: "\ea7d";
$iconic-comment-alt2-fill: "\ea7e";
$iconic-checkmark: "\ea7f";
$iconic-check-alt: "\ea80";
$iconic-x: "\ea81";
$iconic-x-altx-alt: "\ea82";
$iconic-denied: "\ea83";
$iconic-cursor: "\ea84";
$iconic-rss3: "\ea85";
$iconic-rss-alt: "\ea86";
$iconic-wrench2: "\ea87";
$iconic-dial: "\ea88";
$iconic-cog4: "\ea89";
$iconic-calendar3: "\ea8a";
$iconic-calendar-alt-stroke: "\ea8b";
$iconic-calendar-alt-fill: "\ea8c";
$iconic-share5: "\ea8d";
$iconic-mail4: "\ea8e";
$iconic-heart-stroke: "\ea8f";
$iconic-heart-fill: "\ea90";
$iconic-movie2: "\ea91";
$iconic-document-alt-stroke: "\ea92";
$iconic-document-alt-fill: "\ea93";
$iconic-document-stroke: "\ea94";
$iconic-document-fill: "\ea95";
$iconic-plus4: "\ea96";
$iconic-plus-alt: "\ea97";
$iconic-minus4: "\ea98";
$iconic-minus-alt: "\ea99";
$iconic-pin2: "\ea9a";
$iconic-link5: "\ea9b";
$iconic-bolt2: "\ea9c";
$iconic-move2: "\ea9d";
$iconic-move-alt1: "\ea9e";
$iconic-move-alt2: "\ea9f";
$iconic-equalizer2: "\eaa0";
$iconic-award-fill: "\eaa1";
$iconic-award-stroke: "\eaa2";
$iconic-magnifying-glass2: "\eaa3";
$iconic-trash-stroke: "\eaa4";
$iconic-trash-fill: "\eaa5";
$iconic-beaker-alt: "\eaa6";
$iconic-beaker: "\eaa7";
$iconic-key-stroke: "\eaa8";
$iconic-key-fill: "\eaa9";
$iconic-new-window: "\eaaa";
$iconic-lightbulb: "\eaab";
$iconic-spin-alt: "\eaac";
$iconic-spin: "\eaad";
$iconic-curved-arrow: "\eaae";
$iconic-undo3: "\eaaf";
$iconic-reload2: "\eab0";
$iconic-reload-alt: "\eab1";
$iconic-loop3: "\eab2";
$iconic-loop-alt1: "\eab3";
$iconic-loop-alt2: "\eab4";
$iconic-loop-alt3: "\eab5";
$iconic-loop-alt4: "\eab6";
$iconic-transfer: "\eab7";
$iconic-move-vertical: "\eab8";
$iconic-move-vertical-alt1: "\eab9";
$iconic-move-vertical-alt2: "\eaba";
$iconic-move-horizontal: "\eabb";
$iconic-move-horizontal-alt1: "\eabc";
$iconic-move-horizontal-alt2: "\eabd";
$iconic-arrow-left4: "\eabe";
$iconic-arrow-left-alt1: "\eabf";
$iconic-arrow-left-alt2: "\eac0";
$iconic-arrow-right4: "\eac1";
$iconic-arrow-right-alt1: "\eac2";
$iconic-arrow-right-alt2: "\eac3";
$iconic-arrow-up4: "\eac4";
$iconic-arrow-up-alt1: "\eac5";
$iconic-arrow-up-alt2: "\eac6";
$iconic-arrow-down4: "\eac7";
$iconic-arrow-down-alt1: "\eac8";
$iconic-arrow-down-alt2: "\eac9";
$iconic-cd: "\eaca";
$iconic-steering-wheel: "\eacb";
$iconic-microphone3: "\eacc";
$iconic-headphones2: "\eacd";
$iconic-volume2: "\eace";
$iconic-volume-mute2: "\eacf";
$iconic-play3: "\ead0";
$iconic-pause4: "\ead1";
$iconic-stop4: "\ead2";
$iconic-eject2: "\ead3";
$iconic-first: "\ead4";
$iconic-last: "\ead5";
$iconic-play-alt: "\ead6";
$iconic-fullscreen-exit2: "\ead7";
$iconic-fullscreen-exit-alt: "\ead8";
$iconic-fullscreen2: "\ead9";
$iconic-fullscreen-alt: "\eada";
$iconic-iphone: "\eadb";
$iconic-battery-empty: "\eadc";
$iconic-battery-half: "\eadd";
$iconic-battery-full2: "\eade";
$iconic-battery-charging: "\eadf";
$iconic-compass3: "\eae0";
$iconic-box3: "\eae1";
$iconic-folder-stroke: "\eae2";
$iconic-folder-fill: "\eae3";
$iconic-at2: "\eae4";
$iconic-ampersand: "\eae5";
$iconic-info4: "\eae6";
$iconic-question-mark: "\eae7";
$iconic-pilcrow: "\eae8";
$iconic-hash: "\eae9";
$iconic-left-quote: "\eaea";
$iconic-right-quote: "\eaeb";
$iconic-left-quote-alt: "\eaec";
$iconic-right-quote-alt: "\eaed";
$iconic-article: "\eaee";
$iconic-read-more: "\eaef";
$iconic-list4: "\eaf0";
$iconic-list-nested: "\eaf1";
$iconic-book5: "\eaf2";
$iconic-book-alt: "\eaf3";
$iconic-book-alt2: "\eaf4";
$iconic-pen: "\eaf5";
$iconic-pen-alt-stroke: "\eaf6";
$iconic-pen-alt-fill: "\eaf7";
$iconic-pen-alt2: "\eaf8";
$iconic-brush3: "\eaf9";
$iconic-brush-alt: "\eafa";
$iconic-eyedropper2: "\eafb";
$iconic-layers-alt: "\eafc";
$iconic-layers4: "\eafd";
$iconic-image5: "\eafe";
$iconic-camera5: "\eaff";
$iconic-aperture: "\eb00";
$iconic-aperture-alt: "\eb01";
$iconic-chart: "\eb02";
$iconic-chart-alt: "\eb03";
$iconic-bars2: "\eb04";
$iconic-bars-alt: "\eb05";
$iconic-eye4: "\eb06";
$iconic-user3: "\eb07";
$iconic-home4: "\eb08";
$iconic-clock3: "\eb09";
$iconic-lock-stroke: "\eb0a";
$iconic-lock-fill: "\eb0b";
$iconic-unlock-stroke: "\eb0c";
$iconic-unlock-fill: "\eb0d";
$iconic-tag-stroke: "\eb0e";
$iconic-tag-fill: "\eb0f";
$iconic-sun-stroke: "\eb10";
$iconic-sun-fill: "\eb11";
$iconic-moon-stroke: "\eb12";
$iconic-moon-fill: "\eb13";
$iconic-cloud5: "\eb14";
$iconic-rain: "\eb15";
$iconic-umbrella3: "\eb16";
$iconic-star5: "\eb17";
$iconic-map-pin-stroke: "\eb18";
$iconic-map-pin-fill: "\eb19";
$iconic-map-pin-alt: "\eb1a";
$iconic-target2: "\eb1b";
$iconic-download4: "\eb1c";
$iconic-upload4: "\eb1d";
$iconic-cloud-download4: "\eb1e";
$iconic-cloud-upload4: "\eb1f";
$iconic-fork: "\eb20";
$iconic-paperclip2: "\eb21";
$iconic-glass: "\f000";
$iconic-music: "\f001";
$iconic-search: "\f002";
$iconic-envelope-o: "\f003";
$iconic-heart: "\f004";
$iconic-star: "\f005";
$iconic-star-o: "\f006";
$iconic-user: "\f007";
$iconic-film: "\f008";
$iconic-th-large: "\f009";
$iconic-th: "\f00a";
$iconic-th-list: "\f00b";
$iconic-check: "\f00c";
$iconic-close: "\f00d";
$iconic-remove: "\f00d";
$iconic-times: "\f00d";
$iconic-search-plus: "\f00e";
$iconic-search-minus: "\f010";
$iconic-power-off: "\f011";
$iconic-signal: "\f012";
$iconic-cog: "\f013";
$iconic-gear: "\f013";
$iconic-trash-o: "\f014";
$iconic-home: "\f015";
$iconic-file-o: "\f016";
$iconic-clock-o: "\f017";
$iconic-road: "\f018";
$iconic-download: "\f019";
$iconic-arrow-circle-o-down: "\f01a";
$iconic-arrow-circle-o-up: "\f01b";
$iconic-inbox: "\f01c";
$iconic-play-circle-o: "\f01d";
$iconic-repeat: "\f01e";
$iconic-rotate-right: "\f01e";
$iconic-refresh: "\f021";
$iconic-list-alt: "\f022";
$iconic-lock: "\f023";
$iconic-flag: "\f024";
$iconic-headphones: "\f025";
$iconic-volume-off: "\f026";
$iconic-volume-down: "\f027";
$iconic-volume-up: "\f028";
$iconic-qrcode: "\f029";
$iconic-barcode: "\f02a";
$iconic-tag: "\f02b";
$iconic-tags: "\f02c";
$iconic-book: "\f02d";
$iconic-bookmark: "\f02e";
$iconic-print: "\f02f";
$iconic-camera: "\f030";
$iconic-font: "\f031";
$iconic-bold: "\f032";
$iconic-italic: "\f033";
$iconic-text-height: "\f034";
$iconic-text-width: "\f035";
$iconic-align-left: "\f036";
$iconic-align-center: "\f037";
$iconic-align-right: "\f038";
$iconic-align-justify: "\f039";
$iconic-list: "\f03a";
$iconic-dedent: "\f03b";
$iconic-outdent: "\f03b";
$iconic-indent: "\f03c";
$iconic-video-camera: "\f03d";
$iconic-image: "\f03e";
$iconic-photo: "\f03e";
$iconic-picture-o: "\f03e";
$iconic-pencil: "\f040";
$iconic-map-marker: "\f041";
$iconic-adjust: "\f042";
$iconic-tint: "\f043";
$iconic-edit: "\f044";
$iconic-pencil-square-o: "\f044";
$iconic-share-square-o: "\f045";
$iconic-check-square-o: "\f046";
$iconic-arrows: "\f047";
$iconic-step-backward: "\f048";
$iconic-fast-backward: "\f049";
$iconic-backward: "\f04a";
$iconic-play: "\f04b";
$iconic-pause: "\f04c";
$iconic-stop: "\f04d";
$iconic-forward: "\f04e";
$iconic-fast-forward: "\f050";
$iconic-step-forward: "\f051";
$iconic-eject: "\f052";
$iconic-chevron-left: "\f053";
$iconic-chevron-right: "\f054";
$iconic-plus-circle: "\f055";
$iconic-minus-circle: "\f056";
$iconic-times-circle: "\f057";
$iconic-check-circle: "\f058";
$iconic-question-circle: "\f059";
$iconic-info-circle: "\f05a";
$iconic-crosshairs: "\f05b";
$iconic-times-circle-o: "\f05c";
$iconic-check-circle-o: "\f05d";
$iconic-ban: "\f05e";
$iconic-arrow-left: "\f060";
$iconic-arrow-right: "\f061";
$iconic-arrow-up: "\f062";
$iconic-arrow-down: "\f063";
$iconic-mail-forward: "\f064";
$iconic-share: "\f064";
$iconic-expand: "\f065";
$iconic-compress: "\f066";
$iconic-plus: "\f067";
$iconic-minus: "\f068";
$iconic-asterisk: "\f069";
$iconic-exclamation-circle: "\f06a";
$iconic-gift: "\f06b";
$iconic-leaf: "\f06c";
$iconic-fire: "\f06d";
$iconic-eye: "\f06e";
$iconic-eye-slash: "\f070";
$iconic-exclamation-triangle: "\f071";
$iconic-warning: "\f071";
$iconic-plane: "\f072";
$iconic-calendar: "\f073";
$iconic-random: "\f074";
$iconic-comment: "\f075";
$iconic-magnet: "\f076";
$iconic-chevron-up: "\f077";
$iconic-chevron-down: "\f078";
$iconic-retweet: "\f079";
$iconic-shopping-cart: "\f07a";
$iconic-folder: "\f07b";
$iconic-folder-open: "\f07c";
$iconic-arrows-v: "\f07d";
$iconic-arrows-h: "\f07e";
$iconic-bar-chart: "\f080";
$iconic-bar-chart-o: "\f080";
$iconic-twitter-square: "\f081";
$iconic-facebook-square: "\f082";
$iconic-camera-retro: "\f083";
$iconic-key: "\f084";
$iconic-cogs: "\f085";
$iconic-gears: "\f085";
$iconic-comments: "\f086";
$iconic-thumbs-o-up: "\f087";
$iconic-thumbs-o-down: "\f088";
$iconic-star-half: "\f089";
$iconic-heart-o: "\f08a";
$iconic-sign-out: "\f08b";
$iconic-linkedin-square: "\f08c";
$iconic-thumb-tack: "\f08d";
$iconic-external-link: "\f08e";
$iconic-sign-in: "\f090";
$iconic-trophy: "\f091";
$iconic-github-square: "\f092";
$iconic-upload: "\f093";
$iconic-lemon-o: "\f094";
$iconic-phone: "\f095";
$iconic-square-o: "\f096";
$iconic-bookmark-o: "\f097";
$iconic-phone-square: "\f098";
$iconic-twitter: "\f099";
$iconic-facebook: "\f09a";
$iconic-facebook-f: "\f09a";
$iconic-github: "\f09b";
$iconic-unlock: "\f09c";
$iconic-credit-card: "\f09d";
$iconic-rss: "\f09e";
$iconic-hdd-o: "\f0a0";
$iconic-bullhorn: "\f0a1";
$iconic-bell-o: "\f0a2";
$iconic-certificate: "\f0a3";
$iconic-hand-o-right: "\f0a4";
$iconic-hand-o-left: "\f0a5";
$iconic-hand-o-up: "\f0a6";
$iconic-hand-o-down: "\f0a7";
$iconic-arrow-circle-left: "\f0a8";
$iconic-arrow-circle-right: "\f0a9";
$iconic-arrow-circle-up: "\f0aa";
$iconic-arrow-circle-down: "\f0ab";
$iconic-globe: "\f0ac";
$iconic-wrench: "\f0ad";
$iconic-tasks: "\f0ae";
$iconic-filter: "\f0b0";
$iconic-briefcase: "\f0b1";
$iconic-arrows-alt: "\f0b2";
$iconic-group: "\f0c0";
$iconic-users: "\f0c0";
$iconic-chain: "\f0c1";
$iconic-link: "\f0c1";
$iconic-cloud: "\f0c2";
$iconic-flask: "\f0c3";
$iconic-cut: "\f0c4";
$iconic-scissors: "\f0c4";
$iconic-copy: "\f0c5";
$iconic-files-o: "\f0c5";
$iconic-paperclip: "\f0c6";
$iconic-floppy-o: "\f0c7";
$iconic-save: "\f0c7";
$iconic-square: "\f0c8";
$iconic-bars: "\f0c9";
$iconic-navicon: "\f0c9";
$iconic-reorder: "\f0c9";
$iconic-list-ul: "\f0ca";
$iconic-list-ol: "\f0cb";
$iconic-strikethrough: "\f0cc";
$iconic-underline: "\f0cd";
$iconic-table: "\f0ce";
$iconic-magic: "\f0d0";
$iconic-truck: "\f0d1";
$iconic-pinterest: "\f0d2";
$iconic-pinterest-square: "\f0d3";
$iconic-google-plus-square: "\f0d4";
$iconic-google-plus: "\f0d5";
$iconic-money: "\f0d6";
$iconic-caret-down: "\f0d7";
$iconic-caret-up: "\f0d8";
$iconic-caret-left: "\f0d9";
$iconic-caret-right: "\f0da";
$iconic-columns: "\f0db";
$iconic-sort: "\f0dc";
$iconic-unsorted: "\f0dc";
$iconic-sort-desc: "\f0dd";
$iconic-sort-down: "\f0dd";
$iconic-sort-asc: "\f0de";
$iconic-sort-up: "\f0de";
$iconic-envelope: "\f0e0";
$iconic-linkedin: "\f0e1";
$iconic-rotate-left: "\f0e2";
$iconic-undo: "\f0e2";
$iconic-gavel: "\f0e3";
$iconic-legal: "\f0e3";
$iconic-dashboard: "\f0e4";
$iconic-tachometer: "\f0e4";
$iconic-comment-o: "\f0e5";
$iconic-comments-o: "\f0e6";
$iconic-bolt: "\f0e7";
$iconic-flash: "\f0e7";
$iconic-sitemap: "\f0e8";
$iconic-umbrella: "\f0e9";
$iconic-clipboard: "\f0ea";
$iconic-paste: "\f0ea";
$iconic-lightbulb-o: "\f0eb";
$iconic-exchange: "\f0ec";
$iconic-cloud-download: "\f0ed";
$iconic-cloud-upload: "\f0ee";
$iconic-user-md: "\f0f0";
$iconic-stethoscope: "\f0f1";
$iconic-suitcase: "\f0f2";
$iconic-bell: "\f0f3";
$iconic-coffee: "\f0f4";
$iconic-cutlery: "\f0f5";
$iconic-file-text-o: "\f0f6";
$iconic-building-o: "\f0f7";
$iconic-hospital-o: "\f0f8";
$iconic-ambulance: "\f0f9";
$iconic-medkit: "\f0fa";
$iconic-fighter-jet: "\f0fb";
$iconic-beer: "\f0fc";
$iconic-h-square: "\f0fd";
$iconic-plus-square: "\f0fe";
$iconic-angle-double-left: "\f100";
$iconic-angle-double-right: "\f101";
$iconic-angle-double-up: "\f102";
$iconic-angle-double-down: "\f103";
$iconic-angle-left: "\f104";
$iconic-angle-right: "\f105";
$iconic-angle-up: "\f106";
$iconic-angle-down: "\f107";
$iconic-desktop: "\f108";
$iconic-laptop: "\f109";
$iconic-tablet: "\f10a";
$iconic-mobile: "\f10b";
$iconic-mobile-phone: "\f10b";
$iconic-circle-o: "\f10c";
$iconic-quote-left: "\f10d";
$iconic-quote-right: "\f10e";
$iconic-spinner: "\f110";
$iconic-circle: "\f111";
$iconic-mail-reply: "\f112";
$iconic-reply: "\f112";
$iconic-github-alt: "\f113";
$iconic-folder-o: "\f114";
$iconic-folder-open-o: "\f115";
$iconic-smile-o: "\f118";
$iconic-frown-o: "\f119";
$iconic-meh-o: "\f11a";
$iconic-gamepad: "\f11b";
$iconic-keyboard-o: "\f11c";
$iconic-flag-o: "\f11d";
$iconic-flag-checkered: "\f11e";
$iconic-terminal: "\f120";
$iconic-code: "\f121";
$iconic-mail-reply-all: "\f122";
$iconic-reply-all: "\f122";
$iconic-star-half-empty: "\f123";
$iconic-star-half-full: "\f123";
$iconic-star-half-o: "\f123";
$iconic-location-arrow: "\f124";
$iconic-crop: "\f125";
$iconic-code-fork: "\f126";
$iconic-chain-broken: "\f127";
$iconic-unlink: "\f127";
$iconic-question: "\f128";
$iconic-info: "\f129";
$iconic-exclamation: "\f12a";
$iconic-superscript: "\f12b";
$iconic-subscript: "\f12c";
$iconic-eraser: "\f12d";
$iconic-puzzle-piece: "\f12e";
$iconic-microphone: "\f130";
$iconic-microphone-slash: "\f131";
$iconic-shield: "\f132";
$iconic-calendar-o: "\f133";
$iconic-fire-extinguisher: "\f134";
$iconic-rocket: "\f135";
$iconic-maxcdn: "\f136";
$iconic-chevron-circle-left: "\f137";
$iconic-chevron-circle-right: "\f138";
$iconic-chevron-circle-up: "\f139";
$iconic-chevron-circle-down: "\f13a";
$iconic-html5: "\f13b";
$iconic-css3: "\f13c";
$iconic-anchor: "\f13d";
$iconic-unlock-alt: "\f13e";
$iconic-bullseye: "\f140";
$iconic-ellipsis-h: "\f141";
$iconic-ellipsis-v: "\f142";
$iconic-rss-square: "\f143";
$iconic-play-circle: "\f144";
$iconic-ticket: "\f145";
$iconic-minus-square: "\f146";
$iconic-minus-square-o: "\f147";
$iconic-level-up: "\f148";
$iconic-level-down: "\f149";
$iconic-check-square: "\f14a";
$iconic-pencil-square: "\f14b";
$iconic-external-link-square: "\f14c";
$iconic-share-square: "\f14d";
$iconic-compass: "\f14e";
$iconic-caret-square-o-down: "\f150";
$iconic-toggle-down: "\f150";
$iconic-caret-square-o-up: "\f151";
$iconic-toggle-up: "\f151";
$iconic-caret-square-o-right: "\f152";
$iconic-toggle-right: "\f152";
$iconic-eur: "\f153";
$iconic-euro: "\f153";
$iconic-gbp: "\f154";
$iconic-dollar: "\f155";
$iconic-usd: "\f155";
$iconic-inr: "\f156";
$iconic-rupee: "\f156";
$iconic-cny: "\f157";
$iconic-jpy: "\f157";
$iconic-rmb: "\f157";
$iconic-yen: "\f157";
$iconic-rouble: "\f158";
$iconic-rub: "\f158";
$iconic-ruble: "\f158";
$iconic-krw: "\f159";
$iconic-won: "\f159";
$iconic-bitcoin: "\f15a";
$iconic-btc: "\f15a";
$iconic-file: "\f15b";
$iconic-file-text: "\f15c";
$iconic-sort-alpha-asc: "\f15d";
$iconic-sort-alpha-desc: "\f15e";
$iconic-sort-amount-asc: "\f160";
$iconic-sort-amount-desc: "\f161";
$iconic-sort-numeric-asc: "\f162";
$iconic-sort-numeric-desc: "\f163";
$iconic-thumbs-up: "\f164";
$iconic-thumbs-down: "\f165";
$iconic-youtube-square: "\f166";
$iconic-youtube: "\f167";
$iconic-xing: "\f168";
$iconic-xing-square: "\f169";
$iconic-youtube-play: "\f16a";
$iconic-dropbox: "\f16b";
$iconic-stack-overflow: "\f16c";
$iconic-instagram: "\f16d";
$iconic-flickr: "\f16e";
$iconic-adn: "\f170";
$iconic-bitbucket: "\f171";
$iconic-bitbucket-square: "\f172";
$iconic-tumblr: "\f173";
$iconic-tumblr-square: "\f174";
$iconic-long-arrow-down: "\f175";
$iconic-long-arrow-up: "\f176";
$iconic-long-arrow-left: "\f177";
$iconic-long-arrow-right: "\f178";
$iconic-apple: "\f179";
$iconic-windows: "\f17a";
$iconic-android: "\f17b";
$iconic-linux: "\f17c";
$iconic-dribbble: "\f17d";
$iconic-skype: "\f17e";
$iconic-foursquare: "\f180";
$iconic-trello: "\f181";
$iconic-female: "\f182";
$iconic-male: "\f183";
$iconic-gittip: "\f184";
$iconic-gratipay: "\f184";
$iconic-sun-o: "\f185";
$iconic-moon-o: "\f186";
$iconic-archive: "\f187";
$iconic-bug: "\f188";
$iconic-vk: "\f189";
$iconic-weibo: "\f18a";
$iconic-renren: "\f18b";
$iconic-pagelines: "\f18c";
$iconic-stack-exchange: "\f18d";
$iconic-arrow-circle-o-right: "\f18e";
$iconic-arrow-circle-o-left: "\f190";
$iconic-caret-square-o-left: "\f191";
$iconic-toggle-left: "\f191";
$iconic-dot-circle-o: "\f192";
$iconic-wheelchair: "\f193";
$iconic-vimeo-square: "\f194";
$iconic-try: "\f195";
$iconic-turkish-lira: "\f195";
$iconic-plus-square-o: "\f196";
$iconic-space-shuttle: "\f197";
$iconic-slack: "\f198";
$iconic-envelope-square: "\f199";
$iconic-wordpress: "\f19a";
$iconic-openid: "\f19b";
$iconic-bank: "\f19c";
$iconic-institution: "\f19c";
$iconic-university: "\f19c";
$iconic-graduation-cap: "\f19d";
$iconic-mortar-board: "\f19d";
$iconic-yahoo: "\f19e";
$iconic-google: "\f1a0";
$iconic-reddit: "\f1a1";
$iconic-reddit-square: "\f1a2";
$iconic-stumbleupon-circle: "\f1a3";
$iconic-stumbleupon: "\f1a4";
$iconic-delicious: "\f1a5";
$iconic-digg: "\f1a6";
$iconic-pied-piper: "\f1a7";
$iconic-pied-piper-alt: "\f1a8";
$iconic-drupal: "\f1a9";
$iconic-joomla: "\f1aa";
$iconic-language: "\f1ab";
$iconic-fax: "\f1ac";
$iconic-building: "\f1ad";
$iconic-child: "\f1ae";
$iconic-paw: "\f1b0";
$iconic-spoon: "\f1b1";
$iconic-cube: "\f1b2";
$iconic-cubes: "\f1b3";
$iconic-behance: "\f1b4";
$iconic-behance-square: "\f1b5";
$iconic-steam: "\f1b6";
$iconic-steam-square: "\f1b7";
$iconic-recycle: "\f1b8";
$iconic-automobile: "\f1b9";
$iconic-car: "\f1b9";
$iconic-cab: "\f1ba";
$iconic-taxi: "\f1ba";
$iconic-tree: "\f1bb";
$iconic-spotify: "\f1bc";
$iconic-deviantart: "\f1bd";
$iconic-soundcloud: "\f1be";
$iconic-database: "\f1c0";
$iconic-file-pdf-o: "\f1c1";
$iconic-file-word-o: "\f1c2";
$iconic-file-excel-o: "\f1c3";
$iconic-file-powerpoint-o: "\f1c4";
$iconic-file-image-o: "\f1c5";
$iconic-file-photo-o: "\f1c5";
$iconic-file-picture-o: "\f1c5";
$iconic-file-archive-o: "\f1c6";
$iconic-file-zip-o: "\f1c6";
$iconic-file-audio-o: "\f1c7";
$iconic-file-sound-o: "\f1c7";
$iconic-file-movie-o: "\f1c8";
$iconic-file-video-o: "\f1c8";
$iconic-file-code-o: "\f1c9";
$iconic-vine: "\f1ca";
$iconic-codepen: "\f1cb";
$iconic-jsfiddle: "\f1cc";
$iconic-life-bouy: "\f1cd";
$iconic-life-buoy: "\f1cd";
$iconic-life-ring: "\f1cd";
$iconic-life-saver: "\f1cd";
$iconic-support: "\f1cd";
$iconic-circle-o-notch: "\f1ce";
$iconic-ra: "\f1d0";
$iconic-rebel: "\f1d0";
$iconic-empire: "\f1d1";
$iconic-ge: "\f1d1";
$iconic-git-square: "\f1d2";
$iconic-git: "\f1d3";
$iconic-hacker-news: "\f1d4";
$iconic-tencent-weibo: "\f1d5";
$iconic-qq: "\f1d6";
$iconic-wechat: "\f1d7";
$iconic-weixin: "\f1d7";
$iconic-paper-plane: "\f1d8";
$iconic-send: "\f1d8";
$iconic-paper-plane-o: "\f1d9";
$iconic-send-o: "\f1d9";
$iconic-history: "\f1da";
$iconic-circle-thin: "\f1db";
$iconic-genderless: "\f1db";
$iconic-header: "\f1dc";
$iconic-paragraph: "\f1dd";
$iconic-sliders: "\f1de";
$iconic-share-alt: "\f1e0";
$iconic-share-alt-square: "\f1e1";
$iconic-bomb: "\f1e2";
$iconic-futbol-o: "\f1e3";
$iconic-soccer-ball-o: "\f1e3";
$iconic-tty: "\f1e4";
$iconic-binoculars: "\f1e5";
$iconic-plug: "\f1e6";
$iconic-slideshare: "\f1e7";
$iconic-twitch: "\f1e8";
$iconic-yelp: "\f1e9";
$iconic-newspaper-o: "\f1ea";
$iconic-wifi: "\f1eb";
$iconic-calculator: "\f1ec";
$iconic-paypal: "\f1ed";
$iconic-google-wallet: "\f1ee";
$iconic-cc-visa: "\f1f0";
$iconic-cc-mastercard: "\f1f1";
$iconic-cc-discover: "\f1f2";
$iconic-cc-amex: "\f1f3";
$iconic-cc-paypal: "\f1f4";
$iconic-cc-stripe: "\f1f5";
$iconic-bell-slash: "\f1f6";
$iconic-bell-slash-o: "\f1f7";
$iconic-trash: "\f1f8";
$iconic-copyright: "\f1f9";
$iconic-at: "\f1fa";
$iconic-eyedropper: "\f1fb";
$iconic-paint-brush: "\f1fc";
$iconic-birthday-cake: "\f1fd";
$iconic-area-chart: "\f1fe";
$iconic-pie-chart: "\f200";
$iconic-line-chart: "\f201";
$iconic-lastfm: "\f202";
$iconic-lastfm-square: "\f203";
$iconic-toggle-off: "\f204";
$iconic-toggle-on: "\f205";
$iconic-bicycle: "\f206";
$iconic-bus: "\f207";
$iconic-ioxhost: "\f208";
$iconic-angellist: "\f209";
$iconic-cc: "\f20a";
$iconic-ils: "\f20b";
$iconic-shekel: "\f20b";
$iconic-sheqel: "\f20b";
$iconic-meanpath: "\f20c";
$iconic-buysellads: "\f20d";
$iconic-connectdevelop: "\f20e";
$iconic-dashcube: "\f210";
$iconic-forumbee: "\f211";
$iconic-leanpub: "\f212";
$iconic-sellsy: "\f213";
$iconic-shirtsinbulk: "\f214";
$iconic-simplybuilt: "\f215";
$iconic-skyatlas: "\f216";
$iconic-cart-plus: "\f217";
$iconic-cart-arrow-down: "\f218";
$iconic-diamond: "\f219";
$iconic-ship: "\f21a";
$iconic-user-secret: "\f21b";
$iconic-motorcycle: "\f21c";
$iconic-street-view: "\f21d";
$iconic-heartbeat: "\f21e";
$iconic-venus: "\f221";
$iconic-mars: "\f222";
$iconic-mercury: "\f223";
$iconic-transgender: "\f224";
$iconic-transgender-alt: "\f225";
$iconic-venus-double: "\f226";
$iconic-mars-double: "\f227";
$iconic-venus-mars: "\f228";
$iconic-mars-stroke: "\f229";
$iconic-mars-stroke-v: "\f22a";
$iconic-mars-stroke-h: "\f22b";
$iconic-neuter: "\f22c";
$iconic-facebook-official: "\f230";
$iconic-pinterest-p: "\f231";
$iconic-whatsapp: "\f232";
$iconic-server: "\f233";
$iconic-user-plus: "\f234";
$iconic-user-times: "\f235";
$iconic-bed: "\f236";
$iconic-hotel: "\f236";
$iconic-viacoin: "\f237";
$iconic-train: "\f238";
$iconic-subway: "\f239";
$iconic-medium: "\f23a";
$iconic-add-to-list: "\e8f5";
$iconic-classic-computer: "\e8f6";
$iconic-controller-fast-backward: "\e8f7";
$iconic-creative-commons-attribution: "\e8f8";
$iconic-creative-commons-noderivs: "\e8f9";
$iconic-creative-commons-noncommercial-eu: "\e8fa";
$iconic-creative-commons-noncommercial-us: "\e8fb";
$iconic-creative-commons-public-domain: "\e8fc";
$iconic-creative-commons-remix: "\e8fd";
$iconic-creative-commons-share: "\e8fe";
$iconic-creative-commons-sharealike: "\e8ff";
$iconic-creative-commons: "\e900";
$iconic-document-landscape: "\e901";
$iconic-remove-user: "\e902";
$iconic-warning3: "\e903";
$iconic-arrow-bold-down: "\e904";
$iconic-arrow-bold-left: "\e905";
$iconic-arrow-bold-right: "\e906";
$iconic-arrow-bold-up: "\e907";
$iconic-arrow-down2: "\e908";
$iconic-arrow-left2: "\e909";
$iconic-arrow-long-down: "\e90a";
$iconic-arrow-long-left: "\e90b";
$iconic-arrow-long-right: "\e90c";
$iconic-arrow-long-up: "\e90d";
$iconic-arrow-right2: "\e90e";
$iconic-arrow-up2: "\e90f";
$iconic-arrow-with-circle-down: "\e910";
$iconic-arrow-with-circle-left: "\e911";
$iconic-arrow-with-circle-right: "\e912";
$iconic-arrow-with-circle-up: "\e913";
$iconic-bookmark3: "\e914";
$iconic-bookmarks: "\e915";
$iconic-chevron-down2: "\e916";
$iconic-chevron-left3: "\e917";
$iconic-chevron-right3: "\e918";
$iconic-chevron-small-down: "\e919";
$iconic-chevron-small-left: "\e91a";
$iconic-chevron-small-right: "\e91b";
$iconic-chevron-small-up: "\e91c";
$iconic-chevron-thin-down: "\e91d";
$iconic-chevron-thin-left: "\e91e";
$iconic-chevron-thin-right: "\e91f";
$iconic-chevron-thin-up: "\e920";
$iconic-chevron-up2: "\e921";
$iconic-chevron-with-circle-down: "\e922";
$iconic-chevron-with-circle-left: "\e923";
$iconic-chevron-with-circle-right: "\e924";
$iconic-chevron-with-circle-up: "\e925";
$iconic-cloud3: "\e926";
$iconic-controller-fast-forward: "\e927";
$iconic-controller-jump-to-start: "\e928";
$iconic-controller-next: "\e929";
$iconic-controller-paus: "\e92a";
$iconic-controller-play: "\e92b";
$iconic-controller-record: "\e92c";
$iconic-controller-stop: "\e92d";
$iconic-controller-volume: "\e92e";
$iconic-dot-single: "\e92f";
$iconic-dots-three-horizontal: "\e930";
$iconic-dots-three-vertical: "\e931";
$iconic-dots-two-horizontal: "\e932";
$iconic-dots-two-vertical: "\e933";
$iconic-download2: "\e934";
$iconic-emoji-flirt: "\e935";
$iconic-flow-branch: "\e936";
$iconic-flow-cascade: "\e937";
$iconic-flow-line: "\e938";
$iconic-flow-parallel: "\e939";
$iconic-flow-tree: "\e93a";
$iconic-install: "\e93b";
$iconic-layers2: "\e93c";
$iconic-open-book: "\e93d";
$iconic-resize-100: "\e93e";
$iconic-resize-full-screen: "\e93f";
$iconic-save3: "\e940";
$iconic-select-arrows: "\e941";
$iconic-sound-mute: "\e942";
$iconic-sound: "\e943";
$iconic-trash2: "\e944";
$iconic-triangle-down: "\e945";
$iconic-triangle-left: "\e946";
$iconic-triangle-right: "\e947";
$iconic-triangle-up: "\e948";
$iconic-uninstall: "\e949";
$iconic-upload-to-cloud: "\e94a";
$iconic-upload2: "\e94b";
$iconic-add-user: "\e94c";
$iconic-address: "\e94d";
$iconic-adjust3: "\e94e";
$iconic-air: "\e94f";
$iconic-aircraft-landing: "\e950";
$iconic-aircraft-take-off: "\e951";
$iconic-aircraft: "\e952";
$iconic-align-bottom: "\e953";
$iconic-align-horizontal-middle: "\e954";
$iconic-align-left2: "\e955";
$iconic-align-right2: "\e956";
$iconic-align-top: "\e957";
$iconic-align-vertical-middle: "\e958";
$iconic-archive3: "\e959";
$iconic-area-graph: "\e95a";
$iconic-attachment2: "\e95b";
$iconic-awareness-ribbon: "\e95c";
$iconic-back-in-time: "\e95d";
$iconic-back: "\e95e";
$iconic-bar-graph: "\e95f";
$iconic-battery: "\e960";
$iconic-beamed-note: "\e961";
$iconic-bell2: "\e962";
$iconic-blackboard: "\e963";
$iconic-block2: "\e964";
$iconic-book3: "\e965";
$iconic-bowl: "\e966";
$iconic-box: "\e967";
$iconic-briefcase2: "\e968";
$iconic-browser: "\e969";
$iconic-brush2: "\e96a";
$iconic-bucket: "\e96b";
$iconic-cake2: "\e96c";
$iconic-calculator2: "\e96d";
$iconic-calendar2: "\e96e";
$iconic-camera3: "\e96f";
$iconic-ccw: "\e970";
$iconic-chat2: "\e971";
$iconic-check3: "\e972";
$iconic-circle-with-cross: "\e973";
$iconic-circle-with-minus: "\e974";
$iconic-circle-with-plus: "\e975";
$iconic-circle2: "\e976";
$iconic-circular-graph: "\e977";
$iconic-clapperboard: "\e978";
$iconic-clipboard2: "\e979";
$iconic-clock: "\e97a";
$iconic-code2: "\e97b";
$iconic-cog2: "\e97c";
$iconic-colours: "\e97d";
$iconic-compass2: "\e97e";
$iconic-copy2: "\e97f";
$iconic-credit-card3: "\e980";
$iconic-credit: "\e981";
$iconic-cross: "\e982";
$iconic-cup: "\e983";
$iconic-cw: "\e984";
$iconic-cycle: "\e985";
$iconic-database2: "\e986";
$iconic-dial-pad: "\e987";
$iconic-direction: "\e988";
$iconic-document: "\e989";
$iconic-documents: "\e98a";
$iconic-drink: "\e98b";
$iconic-drive: "\e98c";
$iconic-drop: "\e98d";
$iconic-edit3: "\e98e";
$iconic-email2: "\e98f";
$iconic-emoji-happy: "\e990";
$iconic-emoji-neutral: "\e991";
$iconic-emoji-sad: "\e992";
$iconic-erase: "\e993";
$iconic-eraser2: "\e994";
$iconic-export: "\e995";
$iconic-eye2: "\e996";
$iconic-feather: "\e997";
$iconic-flag3: "\e998";
$iconic-flash2: "\e999";
$iconic-flashlight: "\e99a";
$iconic-flat-brush: "\e99b";
$iconic-folder-images: "\e99c";
$iconic-folder-music: "\e99d";
$iconic-folder-video: "\e99e";
$iconic-folder3: "\e99f";
$iconic-forward3: "\e9a0";
$iconic-funnel: "\e9a1";
$iconic-game-controller: "\e9a2";
$iconic-gauge: "\e9a3";
$iconic-globe2: "\e9a4";
$iconic-graduation-cap2: "\e9a5";
$iconic-grid: "\e9a6";
$iconic-hair-cross: "\e9a7";
$iconic-hand: "\e9a8";
$iconic-heart-outlined: "\e9a9";
$iconic-heart2: "\e9aa";
$iconic-help-with-circle: "\e9ab";
$iconic-help2: "\e9ac";
$iconic-home3: "\e9ad";
$iconic-hour-glass: "\e9ae";
$iconic-image-inverted: "\e9af";
$iconic-image3: "\e9b0";
$iconic-images: "\e9b1";
$iconic-inbox3: "\e9b2";
$iconic-infinity: "\e9b3";
$iconic-info-with-circle: "\e9b4";
$iconic-info3: "\e9b5";
$iconic-key2: "\e9b6";
$iconic-keyboard2: "\e9b7";
$iconic-lab-flask: "\e9b8";
$iconic-landline: "\e9b9";
$iconic-language3: "\e9ba";
$iconic-laptop3: "\e9bb";
$iconic-leaf2: "\e9bc";
$iconic-level-down2: "\e9bd";
$iconic-level-up2: "\e9be";
$iconic-lifebuoy: "\e9bf";
$iconic-light-bulb: "\e9c0";
$iconic-light-down: "\e9c1";
$iconic-light-up: "\e9c2";
$iconic-line-graph: "\e9c3";
$iconic-link3: "\e9c4";
$iconic-list3: "\e9c5";
$iconic-location-pin: "\e9c6";
$iconic-location: "\e9c7";
$iconic-lock-open2: "\e9c8";
$iconic-lock3: "\e9c9";
$iconic-log-out: "\e9ca";
$iconic-login: "\e9cb";
$iconic-loop2: "\e9cc";
$iconic-magnet2: "\e9cd";
$iconic-magnifying-glass: "\e9ce";
$iconic-mail2: "\e9cf";
$iconic-man: "\e9d0";
$iconic-map2: "\e9d1";
$iconic-mask: "\e9d2";
$iconic-medal: "\e9d3";
$iconic-megaphone: "\e9d4";
$iconic-menu2: "\e9d5";
$iconic-message2: "\e9d6";
$iconic-mic2: "\e9d7";
$iconic-minus2: "\e9d8";
$iconic-mobile2: "\e9d9";
$iconic-modern-mic: "\e9da";
$iconic-moon: "\e9db";
$iconic-mouse2: "\e9dc";
$iconic-music2: "\e9dd";
$iconic-network: "\e9de";
$iconic-new-message: "\e9df";
$iconic-new: "\e9e0";
$iconic-news: "\e9e1";
$iconic-note: "\e9e2";
$iconic-notification: "\e9e3";
$iconic-old-mobile: "\e9e4";
$iconic-old-phone: "\e9e5";
$iconic-palette2: "\e9e6";
$iconic-paper-plane2: "\e9e7";
$iconic-pencil2: "\e9e8";
$iconic-phone3: "\e9e9";
$iconic-pie-chart2: "\e9ea";
$iconic-pin: "\e9eb";
$iconic-plus2: "\e9ec";
$iconic-popup: "\e9ed";
$iconic-power-plug: "\e9ee";
$iconic-price-ribbon: "\e9ef";
$iconic-price-tag: "\e9f0";
$iconic-print3: "\e9f1";
$iconic-progress-empty: "\e9f2";
$iconic-progress-full: "\e9f3";
$iconic-progress-one: "\e9f4";
$iconic-progress-two: "\e9f5";
$iconic-publish2: "\e9f6";
$iconic-quote: "\e9f7";
$iconic-radio2: "\e9f8";
$iconic-reply-all3: "\e9f9";
$iconic-reply3: "\e9fa";
$iconic-retweet2: "\e9fb";
$iconic-rocket2: "\e9fc";
$iconic-round-brush: "\e9fd";
$iconic-rss2: "\e9fe";
$iconic-ruler: "\e9ff";
$iconic-scissors2: "\ea00";
$iconic-share-alternitive: "\ea01";
$iconic-share3: "\ea02";
$iconic-shareable: "\ea03";
$iconic-shield2: "\ea04";
$iconic-shop2: "\ea05";
$iconic-shopping-bag: "\ea06";
$iconic-shopping-basket2: "\ea07";
$iconic-shopping-cart3: "\ea08";
$iconic-shuffle2: "\ea09";
$iconic-signal2: "\ea0a";
$iconic-sound-mix: "\ea0b";
$iconic-sports-club: "\ea0c";
$iconic-spreadsheet: "\ea0d";
$iconic-squared-cross: "\ea0e";
$iconic-squared-minus: "\ea0f";
$iconic-squared-plus: "\ea10";
$iconic-star-outlined: "\ea11";
$iconic-star3: "\ea12";
$iconic-stopwatch: "\ea13";
$iconic-suitcase2: "\ea14";
$iconic-swap: "\ea15";
$iconic-sweden: "\ea16";
$iconic-switch: "\ea17";
$iconic-tablet3: "\ea18";
$iconic-tag2: "\ea19";
$iconic-text-document-inverted: "\ea1a";
$iconic-text-document: "\ea1b";
$iconic-text: "\ea1c";
$iconic-thermometer: "\ea1d";
$iconic-thumbs-down2: "\ea1e";
$iconic-thumbs-up2: "\ea1f";
$iconic-thunder-cloud: "\ea20";
$iconic-ticket2: "\ea21";
$iconic-time-slot: "\ea22";
$iconic-tools: "\ea23";
$iconic-traffic-cone: "\ea24";
$iconic-tree2: "\ea25";
$iconic-trophy2: "\ea26";
$iconic-tv2: "\ea27";
$iconic-typing: "\ea28";
$iconic-unread: "\ea29";
$iconic-untag: "\ea2a";
$iconic-user2: "\ea2b";
$iconic-users2: "\ea2c";
$iconic-v-card: "\ea2d";
$iconic-video: "\ea2e";
$iconic-vinyl: "\ea2f";
$iconic-voicemail2: "\ea30";
$iconic-wallet: "\ea31";
$iconic-water: "\ea32";
$iconic-500px-with-circle: "\ea33";
$iconic-500px: "\ea34";
$iconic-basecamp: "\ea35";
$iconic-behance2: "\ea36";
$iconic-creative-cloud: "\ea37";
$iconic-dropbox2: "\ea38";
$iconic-evernote: "\ea39";
$iconic-flattr: "\ea3a";
$iconic-foursquare2: "\ea3b";
$iconic-google-drive: "\ea3c";
$iconic-google-hangouts: "\ea3d";
$iconic-grooveshark: "\ea3e";
$iconic-icloud: "\ea3f";
$iconic-mixi: "\ea40";
$iconic-onedrive: "\ea41";
$iconic-paypal2: "\ea42";
$iconic-picasa: "\ea43";
$iconic-qq2: "\ea44";
$iconic-rdio-with-circle: "\ea45";
$iconic-renren2: "\ea46";
$iconic-scribd: "\ea47";
$iconic-sina-weibo: "\ea48";
$iconic-skype-with-circle: "\ea49";
$iconic-skype2: "\ea4a";
$iconic-slideshare2: "\ea4b";
$iconic-smashing: "\ea4c";
$iconic-soundcloud2: "\ea4d";
$iconic-spotify-with-circle: "\ea4e";
$iconic-spotify2: "\ea4f";
$iconic-swarm: "\ea50";
$iconic-vine-with-circle: "\ea51";
$iconic-vine2: "\ea52";
$iconic-vk-alternitive: "\ea53";
$iconic-vk-with-circle: "\ea54";
$iconic-vk2: "\ea55";
$iconic-xing-with-circle: "\ea56";
$iconic-xing2: "\ea57";
$iconic-yelp2: "\ea58";
$iconic-dribbble-with-circle: "\ea59";
$iconic-dribbble2: "\ea5a";
$iconic-facebook-with-circle: "\ea5b";
$iconic-facebook2: "\ea5c";
$iconic-flickr-with-circle: "\ea5d";
$iconic-flickr2: "\ea5e";
$iconic-github-with-circle: "\ea5f";
$iconic-github2: "\ea60";
$iconic-google-with-circle: "\ea61";
$iconic-google2: "\ea62";
$iconic-instagram-with-circle: "\ea63";
$iconic-instagram2: "\ea64";
$iconic-lastfm-with-circle: "\ea65";
$iconic-lastfm2: "\ea66";
$iconic-linkedin-with-circle: "\ea67";
$iconic-linkedin2: "\ea68";
$iconic-pinterest-with-circle: "\ea69";
$iconic-pinterest2: "\ea6a";
$iconic-rdio: "\ea6b";
$iconic-stumbleupon-with-circle: "\ea6c";
$iconic-stumbleupon2: "\ea6d";
$iconic-tumblr-with-circle: "\ea6e";
$iconic-tumblr2: "\ea6f";
$iconic-twitter-with-circle: "\ea70";
$iconic-twitter2: "\ea71";
$iconic-vimeo-with-circle: "\ea72";
$iconic-vimeo: "\ea73";
$iconic-youtube-with-circle: "\ea74";
$iconic-youtube2: "\ea75";
